.container-fluid.addauto >.col-md-12:nth-of-type(2) h1,
.container-fluid.addauto >.col-md-12:nth-of-type(2) h3{
	font-weight: bold;
	/* color:white; */
}
.owl .container span h1{
	margin: 0 auto;
}

.head-list{
	width: 100%;
	z-index: 99;
	background: #fff;
	padding:15px 0;
	box-shadow:1px 1px 1px 1px #ddd;
}
.head-list ul {
	width: 450px;
	display:block;
	margin:0 auto;
}
.head-list ul li{
	margin:0 15px;	
}
.head-list ul li a{
	color:black;
}
.container-fluid.menu-wrapper-area{
}
.container-fluid.nav-header-area{
	width: 100%;
	z-index: 9;
}
.container-fluid.addauto >.col-md-12:nth-of-type(1){
	background: white;
	padding:0;
	margin:0;
}
.container-fluid.addauto >.col-md-12:nth-of-type(3){
	margin-top: 0px;
}
#whyrwd >h1,
#rwddf >h1,
#rwdsys >h1,
#rwdproject >h1{
	/* text-align:center; */
	margin:15px 0;
	/* background: #ddd; */
	/* padding:15px 0; */
	/* color:white; */
	display:inline-block;
	width: 100%;
	font-weight: bolder;
}
#rwddf h5{
	line-height:25px;
	letter-spacing: .2em;
}
#rwddf h3,
#rwddf h5{
	color: #fff;
}
#rwddf h3.title{
	font-weight: bold;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
}
#whyrwd .col-sm-6{
	padding:0 35px;
}
#rwddf span{
	position:absolute;
	top:70px;
	left:35px;
	width: 500px;
	background: rgba(0,0,0,.4);
	padding:15px;
	/* text-shadow:0px 0px 1px #ccc; */
}
#rwddf span ul li{
	line-height:25px;
	color: #fff;
	/* text-shadow:1px 1px 1px #333; */
}

span.title h6{
	margin:0;
	padding:0;
}
#rwdsys .col-xs-12:nth-of-type(3) span.title{
	padding: 2px 0px 2px 5px;
	margin-bottom: 10px;
}


#rwdsys .col-sm-6:nth-of-type(1) div:nth-of-type(2){
	margin-top: 35px;
}
#rwdsys .col-sm-6:nth-of-type(2) table{
	width: 100%;
	border:1px solid #ccc;
}
#rwdsys .col-sm-6:nth-of-type(2) table tr td:nth-of-type(1),
#rwdproject table tr td:nth-of-type(1){
	width: 20%;
	padding:5px 2px;
	border:1px solid #ccc;
	background: #FFFFCC;
}
#rwdsys .col-sm-6:nth-of-type(2) table tr td:nth-of-type(2),
#rwdproject table tr td:nth-of-type(2){
	width: 80%;
	border:1px solid #ccc;
	padding:5px;
	text-align:center;
}
#rwdsys .col-sm-6:nth-of-type(2) h5{
	font-size: 22px;
}
.col-md-12{
	margin:0px 0;
}
#rwdproject table{
	width: 100%;
}

.col-md-12 #rwdproject table thead tr td{
	background:rgba(255, 204, 0,1);
	text-align:center;
}
.col-md-12 #rwdproject a {
	position: absolute;
	right:0px;
	font-size: 16px;
	margin-top:-15px;
	color:red;
}
.container-fluid.addauto > .col-md-12:last-child{
	/* display:none!important; */
}
.addauto{
	margin-bottom: 0;
}
.addauto >.col-md-12:nth-of-type(1)>.col-md-12,
.addauto >.col-md-12:nth-of-type(1){
	margin:0;
}
.nav-header-area{
	margin-bottom: 40px;
}
.container-fluid.addauto >.col-md-12:nth-of-type(8){
	padding:0;
}
.head-list.blog ul li{
	width: 26.8%;
	text-align:center;
}
/* .col-md-12 .container{
	width: 970px;
} */
.owl .container{
	border-bottom: 0;
}
.table ul{
	padding-left: 20px;
}
.case .col-xs-12.appdm{
	margin-top: 0;
}
.case{
	margin-top: -1px;
}
body .row{
	margin: 0;
}
.app-title .list-inline{
	width: 380px;
}
.blog-markting img{
	padding: 0 35px;
}

.wom h1{
	background: #ddd;
	padding: 15px 0;
	text-align:center;
	color: #fff;
}
.wom img{
	padding: 0 35px;
}
.wom .row:nth-of-type(2){
	margin-top: 35px;
}
.wom .row:nth-of-type(2) h4,
.wom .row:nth-of-type(3) h4{
	background: #ddd;
	display: block;
	width: 110px;
	padding: 5px 15px;
}
#rwdsys.wom .col-sm-6 span{
	border-left: 0;
}
#rwdsys.wom .col-sm-6:nth-of-type(2) h5{
	font-size: 14px;
	line-height:22px;
}


.media-marketing .col-xs-12 img{
	margin: 0;
}
#rwdproject.media-marketing .col-sm-6 span{
	margin:15px  0;
	border-left: 0;
}
#rwdproject.media-marketing .col-sm-6 >h5{
	margin-top: 35px;
	padding-left: 5px;
}
.head-list.blog ul li{
	width: auto;
}
.blog .list-inline{
	width: 300px;
}


.whyrwd-detail h5{
	margin-top: 0;
}
.good .col-sm-6:nth-of-type(2) h5:nth-of-type(1){
	margin-top: 0;
}
.appprice .col-sm-6{
	padding: 0 15px;
}
.seo-title .list-inline{
	width: 220px;
}
.seo-first h4.text-center{
	text-align: left;
	border-left: 2px solid red;
	padding-left: 5px;
}
.seo-first hr{
	margin:5px 0 0 0;
}


.whyrwd-detail .col-sm-5.col-sm-pull-7{
	padding: 0 15px;
	line-height: 25px
}
@media (min-width: 992px) and (max-width: 1199px){
	#rwddf span{
		top:35px;
	}
	#rwddf span h5{
		line-height:20px;
	}
	#rwddf span ul li{
		line-height:25px;
	}	
	.container-fluid.addauto >.col-md-12:nth-of-type(2){
		position:inherit;
		top:0;
		background:none;
	}
	.col-xs-12.appdm{
		margin-top: -1px;
	}
	.appprice .col-sm-6{
		padding: 0 5px;
	}
	.col-xs-12.appdm{
		margin-top: 0;
	}
	.media-marketing .col-xs-12{
		margin: 15px 0;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.col-sm-6.col-xs-12.col-sm-push-6{
		width: 100%;
		left:0;
	}
	.col-sm-6.col-xs-12.col-sm-pull-6{
		width: 100%;
		right:0;
	}
	#rwddf span h5{
		line-height:20px;
	}
	#rwddf img{
		opacity: .5;
	}
	#rwdsys .col-sm-6{
		width: 100%;
	}
	.addauto >.col-md-12:nth-of-type(8)>.col-md-12{
		margin:35px 0 0 0;
	}

	.container-fluid.addauto >.col-md-12:nth-of-type(8){
		display:inline-block!important;
		width: 100%;
	}	
	.container-fluid.addauto >.col-md-12:nth-of-type(2){
		position:inherit;
		top:0;
		background:none;
	}
	.col-md-12 .container{
		width: 750px;
	}
	.foot .container{
		width: 750px;
	}
	.foot .col-sm-4{
		width: 40%;
	}
	.foot .col-sm-8{
		width: 100%;
	}	
}
@media  screen and (min-width: 768px){	
	.container-fluid.addauto >.col-md-12:nth-of-type(2) h1{
		margin:0;
		/* text-align:center;		 */
	}
	.container-fluid.addauto >.col-md-12:nth-of-type(2) h3{
		margin:0;
		/* text-align:center; */
	}

}
@media screen and (max-width: 767px){
	.container-fluid.addauto > .col-md-12:nth-of-type(8){
	display:inline-block!important;
	width: 100%;
	}
	.addauto >.col-md-12:nth-of-type(8)>.col-md-12{
		margin:35px 0 0 0;
	}

	.container-fluid.addauto >.col-md-12:nth-of-type(2){
		position:inherit;
		top:0;
		background:none;
	}
	.container-fluid.addauto >.col-md-12:nth-of-type(2) h1{
		margin:0;
		text-align:center;		
	}
	.container-fluid.addauto >.col-md-12:nth-of-type(2) h3{
		margin:0;
		text-align:center;
	}
	.container-fluid.addauto > .col-md-12 h1{
		font-size: 24px;
	}
	.container-fluid.addauto > .col-md-12 h3{
		font-size: 16px;
	}
	#rwddf span{
		position:inherit;
		width: 100%;
		left:0;
		top:0;
	}
	.container-fluid.addauto >.col-md-12{
		padding:0 15px;
	}
	#whyrwd .col-sm-6{
		padding:0;
	}
	.col-md-12 #rwdproject a{
		z-index:2;
	}
	#rwdproject .col-sm-6:nth-of-type(2){
		margin-top: 70px;
	}
	.head-list{
		position:fixed;
		z-index:1001;
	}
	.head-list ul li{
		font-size: 14px;
		margin:0 1px;
	}
	.head-list ul{
		width:340px;
	}
	.col-md-12 .container{
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.app-title .list-inline{
		width: 300px;
	}
	.col-xs-12.appdm{
		padding: 0;
		margin-top: 75px;
	}
	.case .col-xs-12.appdm{
		margin-top: 0;
	}
	.blog .list-inline{
		width: 200px;
	}
	.blog-markting{
		margin-top: 75px;
	}
	.blog-markting img{
		padding: 0;
	}
	.media-marketing .col-xs-12{
		margin-top: 0;
	}
	#rwdproject.media-marketing .col-sm-6 >h5{
		margin: 0;
	}
	#rwdproject.media-marketing .col-sm-6 span h5{
		margin: 0;
	}
	
	.media-marketing .col-xs-12{
		margin-bottom: 0;
	}
	.seo-title .list-inline{
		width: 165px;
	}
	.seo-first .col-xs-12 .col-xs-12{
		padding: 0;
	}
}
