@media (min-width: 992px) and (max-width: 1199px){
	.section4 .onlinecheck{
		background-size:900px;
		/* padding: 15px; */
	}
	.container-fluid.foot .col-sm-8 .col-sm-10 h5{
		text-align:left;
	}
	.section4 .onlinecheck a.more{
		right:5.8vw;
		bottom:1.8vw;
		height: 25px;
	}
	.section4 .onlinecheck .owl-carousel{
		padding: 35px;
	}
	.container-fluid .section5{
		padding:0;
	}
	.webdesign-main .col-sm-3.col-xs-12{
		background-position: 25px -10px;
		padding-left: 70px;
	}
	.webdesign-main .col-sm-9.col-xs-12{
		background-size:700px;
		padding:40px 30px;
	}
	.webdesign-main .col-sm-9.col-xs-12 img:nth-of-type(3){
		width: 400px;
	} 
	.webdesign-main .col-sm-9.col-xs-12 a img{
		width: 230px;
	}
	.talk{
		width: 15vw;
		height: 15vw
	}
	.right-bottom{
		width: 15vw;
		height: 12vw;
	}
	.desire{
		margin-bottom: 10px;
	}
	.section4 .onlinecheck{
		margin-top: 10px;
	}
	.fb-fans .row, .container-fluid.fbapp .row{
		margin: 45px 0;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.section3 .col-xs-12 h4{
		font-size: 14px;
	}
	.section3 >.col-sm-6 .row .col-sm-6 span.col-xs-12 h4{
		font-size: 12px;
	}
	.section3 >.col-sm-6 .row .col-sm-6:nth-of-type(2) span.col-xs-12 h4,
	.section3 >.col-sm-6:nth-child(2) .row .col-sm-6:nth-of-type(2) span.col-xs-12 h4{
		padding-top: 14px;
	}
	.section3 .col-sm-6 .row .col-sm-6 ul{
		padding-left: 15px;
	}
	.section3 .col-sm-6 .row .col-sm-6 div.col-xs-12 img{
		width: 100%;
	}
	.section3 .col-sm-6 .row .col-sm-6 ul li{
		font-size: 12px;
	}
	.section3 .col-sm-6 .row .col-sm-6{
		height: 280px;
	}
	.section2{
		display:inline-block;
		margin-top: 20px;
	}
	.section4 .onlinecheck{
		background-size:contain;
		padding: 35px 0;
		/* height: 200px; */
		/* padding: 35px; */
	}
	.section4 .onlinecheck .owl-carousel{
		/* width: 92%; */
		padding: 30px;
	}
	.section4 .onlinecheck .owl-carousel img{
		/* width: 140px; */
	}
	.section4 .onlinecheck .owl-carousel ul li{
		font-size: 8px;
	}
	.section3 .col-sm-6 .row .col-sm-6:nth-child(3) .btn{
		margin-bottom: 12px;
	}
	.section4 .onlinecheck .owl-carousel ul li:last-child{
		display:none;
	}
	.section3 .col-sm-6 .row .col-sm-6 a.btn{
		font-size: 12px;
	}
	.section4 .onlinecheck a.more{
		width: 70px;
		height: 20px;
		right:7.8vw;
		bottom:3px;
	}
	.col-sm-4.vertical{
		height: 250px;
	}
	.section5 .container .row{
		margin-left: 0;
		margin-right: 0;
	}
	.section5 .container {
		width: 100%;
	}
	.container-fluid .section5{
		padding:0;
	}
	.container-fluid.foot img{
		width:80%;
	}
	.container-fluid.foot .col-sm-8 .col-xs-12.col-sm-2 a img{
		width: 100px;
	}
	.container-fluid.foot .col-sm-8{
		margin-top: 15px;
	}
	.container-fluid.foot .col-sm-8 .col-sm-10 h5{
		text-align:left;
		font-size: 14px;
	}
	.tel h4{
		margin-top: 5px;
		font-size: 16px;
		margin-top: 5px;
		margin-bottom: 0;
	}
	.webdesign-main .col-sm-3.col-xs-12{
		background-position: 0px -24.5px;
		padding-left: 30px;
	}
	.webdesign-main .col-sm-9.col-xs-12{
		background-size:530px;
		padding:30px;
	}
	.webdesign-main .col-sm-9.col-xs-12 img:nth-of-type(3){
		width: 100%;
	}
	.webdesign-main .col-sm-9.col-xs-12 a{
		display:block;
		width: 300px;
		margin:-35px auto 0 auto;
	}
	.webdesign-main .col-sm-9.col-xs-12 a img{
		width: 100%;
	}
	.container.addauto .row .col-xs-12.col-sm-12.col-md-12{
		padding:0;
	}	
	.webdesigncase .container{
		width: 750px;
	}
	.webdesigncase .col-sm-4{
		margin: 15px 20px;
	}
	.online-proofreader .container{
		width: 750px;
	}
	.online-proofreader .col-sm-3{
		width: 23%;
		padding: 5px;
		height: 275px;
	}
	.online-proofreader .col-sm-3 .img{
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.online-proofreader .col-sm-3 h4{
		font-size: 12px;
	}
	.container-fluid.foot .col-sm-8{
		width: 100%;
	}
	.talk,.wow,.right-bottom{
		display: none;
	}
	#rwddf span{
		top:30px;
		width: 60%;
		left:30px;
	}
	.whyrwd-detail h3.title, .owl h3.title, #rwdsys span.col-xs-12 .title, .rwd-case h3.title, .app h3.title, .blog-markting h3.title, .wom h3.title, .media-marketing h3.title, .seo-first h3.title, .desire h3.title,
	.rwdf #whyrwd .col-xs-12 ul{
		width: auto;
		text-align: center
	}
	.rwdf #whyrwd .col-xs-12 h5{
		padding: 0;
		text-align: left;
	}
	.fb-fans .row, .container-fluid.fbapp .row{
		margin: 45px 0;
	}
	.blog-markting img:nth-of-type(1), .blog-markting img:nth-of-type(2), .blog-markting img:nth-of-type(3), .wom img:nth-of-type(1), .wom img:nth-of-type(2), .media-marketing  .col-xs-12:nth-of-type(1) img, .media-marketing  .col-xs-12:nth-of-type(2) img,
	.seo-first .col-xs-12 .col-xs-12,
	.seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(2), .seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(3), .seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(4){
		padding: 0 30px;
	}
	.seo-first div.col-xs-12 img{
		margin-top: 20px;
	}
	.dropdown:hover .dropdown-menu{
		left: -35px;
	}
	.dropdown-menu>li>a{
		white-space:inherit
	}
	.navbar-brand{
		width: 150px;
	}
	.carousel-swiper.col-sm-12.col-xs-12{
		height: 300px;
	}
	.desire{
		margin-bottom: 20px;
	}
	.desire ul li:nth-of-type(1),
	.desire ul li:nth-of-type(2),
	.desire ul li:nth-of-type(3){
		width: 33.33333%;
		height:180px
	}
	.desire ul li:nth-of-type(4),
	.desire ul li:nth-of-type(5){
		width: 50%;
	}
	.section4{
		width: auto;
	}
	.case .col-xs-12.appdm{
		padding: 0;
	}
	.case .col-sm-4{
		width: 100%;
	}
	.row.case1 .col-sm-4.col-xs-12,
	.row.case1 .col-sm-8.col-xs-12,
	.row.case2 .col-sm-4.col-xs-12,
	.row.case2 .col-sm-8.col-xs-12,
	.media-marketing .col-sm-8.col-xs-12{
		width: 100%;
	}
	.row.case1 .col-sm-4.col-xs-12 img,
	.row.case2 .col-sm-4.col-xs-12 img,
	.media-marketing .col-xs-12 .col-sm-4 img{
		display: block;
		margin: 0 auto;
	}
	.media-marketing .col-xs-12 .col-sm-4,
	.media-marketing .col-xs-12 .col-sm-8{
		width: 100%;
	}
}
@media screen and (max-width: 767px){
	.tel{
		width: 100%;
		height:50px;
		background-size: contain;
		display: none
	}
	.section1 h1{
		font-size: 26px;
	}
	.section1 span.hr{
		width: 100%;
	}
	.section1 a.btn{
		right:0;
	}
	a.nav-brand{
		width: auto;
		height:auto;
	}
	a.nav-brand img{
		width: 170px;
		position:absolute;
		left:15px;
		top:10px;
	}
	.nav-header{
		width: 100%;
	}
	.nav-header-area{
		border-bottom:2px solid #333;
	}
	a.nav-icon, a.nav-icon-outline{
		border-color:#f34551;
		color:#f34551;
	}
	a.nav-icon:hover, a.nav-icon-outline:hover{
		border-color:#df0615;
		color:#df0615;
	}
	.container.addauto{
		margin-top: 0;
	}
	.tel{
		background-size:265px 47px;
		background-position:center;
	}
	.tel h4{
		padding-left:50px;
		width: 260px;
		margin:0 auto;
	}
	.swiper-container{
		padding-top:15px;
		padding-bottom: 0;		
	}
	.section3 .col-sm-6 .row .col-sm-6{
		height:auto;
	}
	.section3 .col-sm-6 .row .col-sm-6 ul{
		display:inline-block;
	}
	.section3 .col-sm-6 .row .col-sm-6 a.btnuton{
		position:absolute;
		bottom:0px;
		z-index:15;
	}
	.section2,.section3{
		display: inline-block;
	}
	.section4 .onlinecheck{
		/* background: none; */
		padding: 35px 35px;
		height: 250px;
		-webkit-background-size: 700px 300px;
		background-size: 700px 300px;
	}
	.section4 .onlinecheck .owl-carousel{
		width: 90%;
		padding:0;
	}
	.section4 .onlinecheck ul{
		display:none;
	}
	.section4 .onlinecheck a.more{
		display:none;
	}
	.section4 .onlinecheck{
		background-position: left 0;
		-webkit-background-size:600px;
		background-size:700px 300px;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.container-fluid .section5 .col-sm-8>h3{
		font-size: 14px;
	}
	.container-fluid .section5 .col-sm-8 .col-xs-12 ol li{
		font-size: 12px;
	}
	.section5{
		padding:0;
	}
	.section5 .container{
		padding:0;
	}
	.section5 .container .row{
		margin:0;
	}
	.container-fluid .section5 .col-sm-8 .col-xs-12 ol{
		padding-top: 15px;
	}
	.container-fluid .section5 .col-sm-8 h3:nth-of-type(2){
		margin-top: 15px;
	}
	.col-sm-4.vertical h3{
		font-size: 14px;
		margin:15px 0;
		display:inline-block;
	}
	.col-sm-4.vertical{
		height:auto;
		margin:0 auto;
	}
	.swiper-slide{
		margin:0;
	}
	.vertical .swiper-container-vertical{
		height:280px;
		width: 260px;
	}
	.container-fluid.foot .col-sm-4 a img{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.container-fluid.foot .col-sm-8 .col-sm-10 h5{
		text-align:left;
		margin-top: 15px;
		margin-bottom: 15px;
		line-height:30px;
	}
	.container-fluid.foot{
		padding-bottom: 30px;
	}
	.section1bg .container{
		padding:5px;
	}
	.section3 .col-xs-12 h4{
		font-size: 15px;
	}
	.section1bg{
		margin-top: -5px;
	}
	.webdesign-main .col-sm-3.col-xs-12{
		padding:0;
		background: none;
		border:2px solid #eee;
		border-radius:15px;
		padding:15px;
		box-shadow:5px 3px 15px 0px #eee;
		margin-top: 35px;
	}
	.webdesign-main .col-sm-9.col-xs-12{
		padding:0;
		margin-top: 15px;
		background: none;
	}
	.page .tel{
		background-size:230px 47px;
		margin-top: -5px;
	}
	.webdesign-main .col-sm-9.col-xs-12 img{
		margin:15px 0;
		border:2px dotted #eee;
		padding:5px;
	}
	.webdesign-main .col-sm-9.col-xs-12 a{
		display:block;
		width: 280px;
		margin:0px auto 0 auto ;
	}
	.container.addauto .row .col-xs-12.col-sm-12.col-md-12{
		padding:0;
	}
	.container{
		width: 100%;
	}
	.webdesigncase .col-sm-4{
		width: 47%;
	}
	.webdesigncase .col-sm-4 img{
		display: block;
		margin: 0 auto;
	}
	.online-proofreader .col-sm-3{
		width: 46%;
		margin: 15px 5px;
		height: 300px;
	}
	.online-proofreader .col-sm-3 .img{
		display:block;
		margin: 0 auto;
		width: 100%;
	}
	.online-proofreader .col-sm-3 .img img{
		display:block;
		margin: 0 auto;
	}
	.online-proofreader .row{
		margin:0;
	}
	.talk,.wow,.right-bottom{
		display: none;
	}
	#abgne_float_ad{
		/* display: none!important; */
	}
	.foot .container,.lectures .container{
		width: 100%!important;
	}
	.lectures .col-xs-12 iframe{
		width: 100%!important;
	}
	#defaultNavbar1{
		height: auto!important;
		background: rgba(255,255,255,1);
		width: 100%;
		/* padding: 0; */
		margin: 0 auto;
		border-bottom: 1px solid #eee;
	}
	.nav.navbar-nav.navbar-right{
		position: relative;
	}
	.dropdown:hover .dropdown-menu{
		display: none;
	}
	.dropdown.open .dropdown-menu{
		display: block
	}
	#wrap{
		padding-top: 0;
	}
	body #wrap .container-fluid.addauto{
		padding-top:30px;
	}
	.carousel-swiper.col-sm-12.col-xs-12{
		height: 200px;
		background-position: 0 0;
	}
	.desire h3.title{
		width: auto;
	}
	.section4{
		width: 100%;
	}
	.desire{
		padding: 0;
	}
	.desire ul li{
		width: 100%;
	}
	.section1 .carousel-swiper  h1,
	.desire h3.title{
		font-size: 18px;
		width: auto;
	}
	.container-fluid.addauto >.col-md-12:nth-of-type(2) >.col-md-12{
		margin-top: 0;
	}
	#wrap{
		padding-top: 0;
	}
	.rwdf #whyrwd .col-xs-12 h5{
		text-align: left;
	}
	.rwdf #whyrwd .col-xs-12 h5:nth-of-type(1){
		padding: 0;
	}
	.whyrwd-detail h3.title, .owl h3.title, #rwdsys span.col-xs-12 .title, .rwd-case h3.title, .app h3.title, .blog-markting h3.title, .wom h3.title, .media-marketing h3.title, .seo-first h3.title, .desire h3.title{
		width: auto;
		text-align: left;
	}
	.rwdf #whyrwd .col-xs-12 h5{
		padding: 0;
	}
	.rwdf #whyrwd .col-xs-12 ul,
	#rwdsys .col-sm-6:nth-of-type(1) ul,
	#rwdsys .col-sm-6:nth-of-type(2) ul{
		width: auto;
		padding-left: 15px;
	}
	#rwdsys span.col-xs-12, #rwdsys span.col-xs-12 .title{
		text-align: center;
		/* padding: 0 15px; */
	}
	#rwdsys .product-tb .col-sm-2.col-xs-12{
		color: red;
		text-align: left;
	}
	#rwdsys span.col-xs-12{
		border-left: none;
	}
	#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12{
		border-right: none;
	}
	#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12, #rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-9.col-xs-12{
		margin: 0;
		padding: 0;
	}
	#rwdproject > .col-sm-6.col-xs-12 > .col-xs-12 .col-sm-3.col-xs-12{
		margin-bottom: 2px;
		color: red;
	}
	#rwdproject .col-sm-6.col-xs-12 .col-xs-12 .row{
		padding: 15px 0;
	}
	#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12 ul{
		margin-bottom: 0;
	}
	#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12 ul li{
		color: red;
	}
	/* .container{
		padding: 0;
	} */
	.container>.navbar-header{
		margin: 0;
	}
	#rwdsys span.col-xs-12, #rwdsys span.col-xs-12 .title{
		/* padding: 0; */
	}
	.case .col-sm-4 h4.title{
		font-size: 16px;
	}
	#rwdsys .col-sm-6.app-system span.col-sm-3.col-xs-12{
		text-align: left;
		margin-bottom: 2px;
	}
	#rwdsys .col-sm-6.app-system span.col-sm-9.col-xs-12{
		padding-left: 0;
		border-left: none;
	}
	.fb-fans .row, .container-fluid.fbapp .row{
		margin:45px 0;
	}
	.case{
		margin-top: 30px;
	}
	.fb-fans a{
		word-break: break-word;
		line-height: 30px
	}
	.fb-fans .row h4.title{
		margin-top: 30px;
		font-size: 18px;
	}
	.fb-fans .row ol,
	.fb-fans .row ul{
		padding-left: 25px;
	}
	.fb-fans .container .row .col-sm-8, .fb-fans .container .row .col-sm-4, .fbapp .container .row .col-sm-8, .fbapp .container .row .col-sm-4,
	.blog-markting img:nth-of-type(1), .blog-markting img:nth-of-type(2), .blog-markting img:nth-of-type(3), .wom img:nth-of-type(1), .wom img:nth-of-type(2), .media-marketing  .col-xs-12:nth-of-type(1) img, .media-marketing  .col-xs-12:nth-of-type(2) img{
		padding: 0;
	}
	.case .col-xs-12 h5{
		text-align: center;
	}
	.fb-fans .container .row:nth-of-type(4) .col-sm-8 ul, .fb-fans .container .row:nth-of-type(5) .col-sm-8 ul, .fb-fans .container .row:nth-of-type(6) .col-sm-8 ul{
		padding-left: 0;
	}
	.fb-fans .container .row:nth-of-type(4) .col-sm-8 ul li, .fb-fans .container .row:nth-of-type(5) .col-sm-8 ul li, .fb-fans .container .row:nth-of-type(6) .col-sm-8 ul li{
		width: 33.3333%;
		margin: 10px 0;
		box-shadow: none;
	}
	.fb-fans .container .row:nth-of-type(4) .col-sm-8 ul li img, 
	.fb-fans .container .row:nth-of-type(5) .col-sm-8 ul li img, 
	.fb-fans .container .row:nth-of-type(6) .col-sm-8 ul li img{
		padding: 0 10px;
		border: 1px solid #eee;
	}
	.container-fluid.addauto > .col-md-12 h3{
		text-align: center
	}
	.case-1 h4.title,
	.container-fluid.addauto .case-1 h3,
	.container-fluid.addauto .media-marketing h3{
		text-align: left;
	}
	.container-fluid.foot{
		padding: 15px;
	}	
	.seo-first div.col-xs-12 img{
		margin-top: 10px;
	}
	.seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(2), 
	.seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(3), 
	.seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(4),
	.case .col-xs-12.appdm{
		padding: 0;
	}
	.fb-fans .row:first-child{
		margin-top: 0;
	}
	.case .col-sm-4{
		margin-bottom: 30px;
	}
	.blog-markting.row{
		margin-bottom: 30px;
	}

	.media-marketing.row{
		margin-top: 30px;
	}
	.seo-first #whyrwd{
		margin-bottom: 45px;
	}
	.section2, .section3{
		padding: 0;
	}
	.shape,
	.section3 .row >span.col-xs-12{
		width: 100%;
	}
	.section3 .col-sm-6 .row .col-sm-6 a.btnuton{
		right:0;
	}
	.col-md-12 .container{
		padding: 0;
	}
	.rwd-case #rwdproject >.col-sm-6.col-xs-12{
		padding: 0;
	}
	#rwdsys .product-tb span.col-sm-10.col-xs-12{
		padding-left: 0;
	}
	.caseproject .col-sm-6{
		padding: 0;
	}
	.case .col-sm-4,
	.good .col-sm-6{
		padding: 0;
	}
	.desire{
		opacity: 1;
	}
	.navbar-default.navbar-fixed-top #defaultNavbar1{
		height: auto!important;
		margin-top: -1px;
		position: relative;
	}
	.owl, .rwdf #whyrwd, .rwd-case #rwdsys, .container.case .col-sm-4 h4.title, .container.case .col-sm-4 .fa, .app .title, .app .fa, .fb-fans .row:nth-of-type(2), .fb-fans .row:nth-of-type(3), .fb-fans .row:nth-of-type(4), .fb-fans .row:nth-of-type(5), .fb-fans .row:nth-of-type(6), .fb-fans .row:nth-of-type(7), .blog-markting img:nth-of-type(2), .blog-markting img:nth-of-type(3), .wom img:nth-of-type(1), .wom img:nth-of-type(2), .case1, .case2, .media-marketing .col-xs-12:nth-of-type(1), .media-marketing .col-xs-12:nth-of-type(2), .media-marketing .col-xs-12:nth-of-type(3){
		opacity: 1;
	}
	.webdesigncase .col-sm-3 ul{
		width: 100%;
		margin: 0 auto;
	}
	.navbar-default .container{
		padding: 0;
	}
	.navbar-toggle{
		top: 15px;
		right: 15px;
	}
	.navbar-brand{
		margin-left: 15px;
	}
	.list-inline>li{
		line-height: 30px
	}
	.container-fluid.foot .col-sm-8 .col-sm-10 h5 a{
		display: block;
	}
	body .container-fluid.sectionbg{
		padding: 0 15px;
	}
	#abgne_float_ad{
		height: auto!important;
		right: 0;
		/* width: 70%!important; */
		float: right;
		z-index: 99999!important;
	}
	#abgne_float_ad a{
		width: 50%;
		position: absolute;
		right: 0;		
	}
	#abgne_float_ad a img{
		width: 100%!important;
	}
	.navbar-default{
		z-index: 999999
	}
	.owl-carousel .owl-item img{
		/* max-width: 200px; */
		/* margin: 0 auto; */
	}
	
	.section4 .onlinecheck{
		padding: 35px;
		display: flex;
		align-items: center;
		background: #fff;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		box-shadow: 1px 1px 1px 2px #eee
	}
	.section4 .onlinecheck::before{
		content: "";
		display: flex;
		align-items: center;
		left: 7.5px;
		top: 7.5px;
		/* margin: 7.5px auto; */
		width: calc(100% - 15px);		
		height:calc(100% - 15px);
		background: #eee;
		position: absolute;
		border-radius: 5px
	}
	.section4 .onlinecheck::after{		
		content: "";
		background: url('http://rawpanel.com/N2ISC/image.aspx?id=77a0589223bb4e04aa4fe8bef7402657') no-repeat;
		width: 30px;
		height: 150px;
		display: block;
		position: absolute;
		z-index: 2;
/* 		background-size: cover;
		-webkit-background-size: cover; */
		top: -5px;
		left: 15px;
	}
}
@media (min-width: 441px) and (max-width: 767px ){
	.section4 .onlinecheck{
		padding: 35px;
		display: flex;
		align-items: center;
		background: #fff;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		box-shadow: 1px 1px 1px 2px #eee
	}
	.section4 .onlinecheck::before{
		content: "";
		display: flex;
		align-items: center;
		left: 7.5px;
		top: 7.5px;
		/* margin: 7.5px auto; */
		width: calc(100% - 15px);		
		height:calc(100% - 15px);
		background: #eee;
		position: absolute;
		border-radius: 5px
	}
	.section4 .onlinecheck::after{		
		content: "";
		background: url('http://rawpanel.com/N2ISC/image.aspx?id=77a0589223bb4e04aa4fe8bef7402657') no-repeat;
		width: 30px;
		height: 150px;
		display: block;
		position: absolute;
		z-index: 2;
/* 		background-size: cover;
		-webkit-background-size: cover; */
		top: -5px;
		left: 15px;
	}
}