body [class^="col-"]{
	padding-left: 0;
	padding-right: 0;
}
a:hover{
	text-decoration:none;
}
*{
	text-align:left;	
	color:#000;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 14px;
}
h1, h2, h3, h4,h5{
	font-weight: 600;
}
/*首頁特殊輪播設定*/
    body {
        background: #fff;
        font-family: "Microsoft JhengHei","微軟正黑體","sans-serif";
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .vertical .swiper-container-vertical{
        width:auto;
        height:90%;
        padding:0;
    }
    .vertical .swiper-container-vertical h5{
    	color:white;
    	text-align:center;
    }
    .swiper-slide {
        background-position: center;
        background-size: contain;
        width: 300px;
        height: 300px;
    }
    .vertical .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
/*End*/
.container.addauto{
	background:url('http://hero024.so-buy.com/ezfiles/143/1143/img/1480/bg.jpg');
}
.nav-header{
	width: 70%;
	margin:0px auto;
	height: 95px;
}
a.nav-brand{
	width:300px;
	height:95px;
	border:none;
}
a.nav-brand:hover{
	background:none;
}
a.nav-icon, a.nav-icon-outline{
	margin-top: 25px;
}
.nav-header-area{
	border-top: 5px solid #333;
}
.menu-wrapper-area{
	border-bottom:2px solid #333;
}
.nav-header-area,
.menu-wrapper-area{
	background: #df0615;
	border: none;
}
a.nav-brand img{
	margin:0 auto;
	width:100%;
}
.col-sm-4.vertical{
	height: 300px;
}
/* .tel{
	background:url('http://hero024.so-buy.com/ezfiles/143/1143/img/1480/tel-bg.png') no-repeat;
	background-position: 0 0px;	
	height: 47px;
} */
.tel h4{
	padding-left: 55px;
	margin-top: 0;
	margin-bottom:0px;
	line-height:20px;
	color:red;
	font-weight: bold;
}
.section1 h1{
	text-align:center;	
}
.section1 span.hr{
	border-bottom:1px solid #efefef;
	display:block;
	width: 550px;
	margin:0 auto;
}
.section1 a.btn{
	font-size: 20px;
	position:absolute;
	right:25px;
	background: rgba(231,56,39,1);
background: -moz-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(246,41,12,1) 24%, rgba(241,112,92,1) 47%, rgba(241,112,92,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,56,39,1)), color-stop(24%, rgba(246,41,12,1)), color-stop(47%, rgba(241,112,92,1)), color-stop(100%, rgba(241,112,92,1)));
background: -webkit-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(246,41,12,1) 24%, rgba(241,112,92,1) 47%, rgba(241,112,92,1) 100%);
background: -o-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(246,41,12,1) 24%, rgba(241,112,92,1) 47%, rgba(241,112,92,1) 100%);
background: -ms-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(246,41,12,1) 24%, rgba(241,112,92,1) 47%, rgba(241,112,92,1) 100%);
background: linear-gradient(to bottom, rgba(231,56,39,1) 0%, rgba(246,41,12,1) 24%, rgba(241,112,92,1) 47%, rgba(241,112,92,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f1705c', GradientType=0 );
	padding-left: 35px;
	padding-right: 35px;
	color:white;
	-webkit-box-shadow: 1px 1px 1px #333;
	box-shadow: 1px 1px 1px #333;
	border-radius:15px;
	z-index: 9;
	border:none;
	bottom: 0;
}
.section2{
	padding-left: 15px;
	padding-right: 15px;
}
.section2 .col-sm-4{
	padding-left: 0;
	padding-right: 0;
	margin-top: 35px;
}
.section2 img{
	width: 100%;
}
.swiper-slide{
	margin:0 20px;
}
.section3 .col-xs-12 img{
	vertical-align:text-bottom;
}
.section3 .col-xs-12 h4{
	display:inline-block;
	color:#780000;
	text-shadow:.2px .2px 0px #333;
}
.section3 .row >span.col-xs-12{
	background: #ececec;
	border-radius:5px;
	margin-top: 35px;
	padding-left: 15px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}
.section3 .col-sm-6 .row{
	margin:0;
}
.section3 .col-sm-6 .row .col-sm-6 ul{
	display:inline-block;
	list-style-image:url('http://hero024.so-buy.com/ezfiles/143/1143/img/1480/dot.gif');
}
.section3 .col-sm-6 .row .col-sm-6 ul li{
	margin:5px 0;
}
.section3 .col-sm-6 .row .col-sm-6:nth-child(3){
	padding-top: 12px;
}
.section3 .col-xs-12 h4 img{
	vertical-align:sub;
	width: 38px;
	margin-right: 5px;
}
.section3 >.col-sm-6 .row .col-sm-6 span.col-xs-12{
	background-position: 0 23px;
	width: 100%;
	background-size: 40px;
}
.section3 >.col-sm-6 .row .col-sm-6 span.col-xs-12 h4{
	color:white;
	position: relative;
	font-size: 16px;
}
.section3 >.col-sm-6 .row .col-sm-6:nth-of-type(2) span.col-xs-12 {
	background-position: 0 12px;	
	-webkit-background-size: 37px;
	background-size: 37px;
}
.section3 >.col-sm-6 .row .col-sm-6:nth-of-type(2) span.col-xs-12 h4{
	padding-top: 8px;
	padding-left: 15px;
}
.section3 >.col-sm-6:nth-child(2) .row .col-sm-6:nth-child(2) span.col-xs-12{
	background-position: 0 23px;
	width: 100%;
	background-size: 40px;
}
.section3 >.col-sm-6:nth-child(2) .row .col-sm-6:nth-of-type(2) span.col-xs-12 {
	background-position: 0 12px;	
	-webkit-background-size: 37px;
	background-size: 37px;
	padding: 1.5px 0;
}
.section3 >.col-sm-6:nth-of-type(1) .col-sm-6:nth-of-type(2) span.col-xs-12{
	padding: 1.5px 0;
}
.section3 >.col-sm-6:nth-child(2) .row span.col-xs-12 h4{
	color:black;
}
.section3 >.col-sm-6:nth-child(2) .row .col-sm-6:nth-of-type(2) span.col-xs-12 h4{
	padding-top: 7px;
}
.section3 .col-sm-6 .row .col-sm-6{
	height:300px;
	padding-right: 0;
}
.section3 .col-sm-6 .row .col-sm-6 a.btnuton{
	color:#df0615;
	/* text-shadow:1px 1px 1px #333; */
	position:absolute;
	right:30px;
	bottom:0;
	/* background: rgba(255,108,82,1);
background: -moz-linear-gradient(top, rgba(255,108,82,1) 0%, rgba(158,13,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,108,82,1)), color-stop(100%, rgba(158,13,0,1)));
background: -webkit-linear-gradient(top, rgba(255,108,82,1) 0%, rgba(158,13,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,108,82,1) 0%, rgba(158,13,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,108,82,1) 0%, rgba(158,13,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,108,82,1) 0%, rgba(158,13,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6c52', endColorstr='#9e0d00', GradientType=0 ); */
	padding:2px;
	/* border-radius:5px; */
	font-weight: bolder;
}
.section3 .col-sm-6 .row .col-sm-6:nth-child(3) .btn{
	margin-bottom: 12px;
}
.section4 .onlinecheck{
	background:url('http://hero024.so-buy.com/ezfiles/143/1143/img/1480/issued.png') center no-repeat;
	height: 300px;
	margin-bottom: 30px;
	margin-top: 30px;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.section4 .onlinecheck .owl-carousel{
	width: 85%;
	margin:0 auto;
	padding-left: 0px;
	padding-top: 25px;
	padding-top: 38px;
}
.section4 .onlinecheck .owl-carousel ul{
	list-style:none;
	padding-left: 0;
}
.section4 .onlinecheck .owl-carousel ul li{
	font-size: 12px;
	margin:5px 0;
	color:black;
}
.section4 .onlinecheck a{
	text-decoration:none;
}
.section4 .onlinecheck a.more{
	position:absolute;
	right:45px;
	bottom:5px;
	height: 30px;
	width: 100px;
	color:transparent;
	z-index:10;
}
body .container-fluid{
	padding:0;
}
body >.container-fluid:before{
	position:absolute;
	content:"";
	width: 100%;
	height:100px;
	background: white;
}
.section1bg{
	background:url('http://hero024.so-buy.com/ezfiles/143/1143/img/1480/flash-bg.jpg') repeat-x;
	background-position: 100% 0px;
	background-size: auto 600px;
	margin-top: -28px;
}
.container-fluid .section5{
	background:#1c1c20;
	padding:20px;
}
.container-fluid .section5 .col-sm-8>h3{
	color:red;
	text-shadow:1px 1px 1px #333;
	font-size: 20px;
	margin-top: 0px;
}
.container-fluid .section5 .col-sm-8 h3:nth-of-type(2){
	margin-top: 35px;
	display:inline-block;
}
.container-fluid .section5 .col-sm-8 .col-xs-12{
	background:rgba(255,255,255,.1);
	padding-left: 15px;
}
.container-fluid .section5 .col-sm-8 .col-xs-12 ol{
	padding-left: 15px;
}
.container-fluid .section5 .col-sm-8 .col-xs-12 ol li{
	color:white;
	font-size: 14px;
	padding:5px 2px;
	font-weight: 100;
	text-shadow:1px 1px 1px #333;
}
.container-fluid .section5 .col-sm-8 .col-xs-12 ul{
	padding-left:0px;
	list-style:none;
}
.container-fluid .section5 .col-sm-8 .col-xs-12 ul li{
	margin-top:10px;
}
.container-fluid .section5 .col-sm-8 .col-xs-12 ul li a{
	color:white;
	text-shadow:1px 1px 1px #333;
	text-decoration:none;
}
.col-sm-4.vertical h3{
	color:red;
	font-size: 20px;
	text-shadow:1px 1px 1px #333;
	margin-top: 0;
}
.container-fluid.foot{
	background:#121212;
	padding-top: 15px;
	margin-bottom: -30px;
	padding-bottom: 35px;
}
.container-fluid.foot .col-sm-4 a img{
	margin-top: 15px;
}
.container-fluid.foot .col-sm-8 .col-xs-12 ul{
	color:white;
	float: right
}
.container-fluid.foot .col-sm-8 .col-xs-12 ul li a{
	color:white;
	text-shadow:1px 1px 1px #333;
	font-size: 13.5px;
}
.container-fluid.foot .col-sm-8 .col-sm-10 h5{
	color:white;
	text-shadow:1px 1px 1px #333;
	text-align:right;
	font-size: 12px;
}
.container-fluid.foot .col-sm-8 .col-sm-10 h5 a{
	color:white;

}
.vertical .swiper-slide img{
	width: 100%;
}
.container.addauto{
	width: 100%;
	margin-top: -28px;
	margin-bottom: 0;
}
.btn:hover, .btn:active, .btn:focus{
	top:auto;
}
.container.addauto{
	padding:0;
}
.container.addauto >.col-md-12{
	padding:0;
}
.container.addauto >.col-md-12 >.col-md-12{
	padding:0;
}
.social-links{
	margin-right: 0;
}
.btn i{
	vertical-align:middle;
}
.section1 a.btn:hover{
	transform: scale(.8);
	opacity: .7;
}
.container-fluid .section5 .col-sm-8 .col-xs-12 ul li a:hover{
	opacity: .7;
}
.container-fluid.foot .col-sm-8 .col-xs-12 ul li a:hover{
	text-decoration:none;
	opacity: .7;
}
.container-fluid.foot .col-sm-8 .col-sm-10 h5 a{
	color:red;
	text-decoration:none;
}
.section3 .col-sm-6 .row .col-sm-6 a.btnuton:hover{
	text-decoration:none;
}
footer{
	display:none;
}
.addauto >.col-md-12{
	padding:0;
}
.addauto >.col-md-12>.col-md-12{
	padding:0;
}
.container-fluid.page .section1bg{
	margin-top:11px;
}
.container.addauto .row .col-xs-12.col-sm-12.col-md-12{
	background: white;
	padding:0;
}
.webdesign-main .col-sm-3.col-xs-12{
	background:url('http://hero024.so-buy.com/ezfiles/143/1143/img/1524/btn_bg.jpg') no-repeat;
	padding-left: 110px;
	background-position: 80px 0;
	padding-top: 80px;
}
.webdesign-main .col-sm-3.col-xs-12 ul{
	padding-left: 0;
	list-style:none;
}
.webdesign-main .col-sm-3.col-xs-12 span:nth-of-type(1){
	border-left: 5px solid red;
	padding-left: 25px;
	display:inline-block;
	height: 45px;
	margin-top: 15px;
	margin-left: 15px;
}
.webdesign-main .col-sm-3.col-xs-12 span h3{
	margin-top: 2px;
	margin-left: -10px;
	font-weight: 100;
}
.webdesign-main .col-sm-3.col-xs-12 span h6{
	margin-left: -10px;
	color:#ddd;
	font-weight: bold;
	margin-top: -5px;
}
.webdesign-main .col-sm-3.col-xs-12 ul li{
	margin:10px 0;
	border-bottom: 1px dashed #eee;
	padding-bottom: 15px;
}
.left-list ul li a{
	text-decoration:none;
	color:#333;
	text-shadow:1px 1px 1px #fff;
}
.webdesign-main .col-sm-9.col-xs-12{
	background:url('http://hero024.so-buy.com/ezfiles/143/1143/img/1524/mainbody_bg.jpg') no-repeat;
	padding:40px 25px;
}
.webdesign-main .col-sm-3.col-xs-12 span.left-list{
	margin-top: 35px;
	display:block;
}
.webdesign-main .col-sm-9.col-xs-12 img:nth-of-type(3),
.webdesign-main .col-sm-9.col-xs-12 a img{
	display:inline-block;
}
.webdesign-main .col-sm-9.col-xs-12 img:nth-of-type(3){
	width: 450px;
}
.webdesign-main .col-sm-9.col-xs-12 a img{
	width: 280px;
}
.container.addauto .row{
	margin:0;
}

/*moniter owl*/
.moniter{
	background:url('http://hero024.so-buy.com/ezfiles/143/1143/img/1480/RWD-moniter.png')no-repeat;
	height: 400px;
	-webkit-background-size: 400px;
	background-size: 400px;
}
.moniter .owl-carousel{
	width: 414px;
	padding:14px 10px 0 10px;
	height:260px;
	overflow:auto;
}
.moniter .owl-carousel img{
	width: 100%;
}
/* .container{
	width: 970px;
} */
.online-proofreader span,
.webdesigncase span{
	display:block;
	border-left: 3px solid red;
	padding-left: 3px;
}
.online-proofreader span h3,
.webdesigncase span h3{
	margin-bottom: 0;
	font-size: 20px;
}
.online-proofreader span h6,
.webdesigncase span h6{
	margin-top: 0;
	color:#ccc;
}
.online-proofreader .col-sm-3 .img{
    /* width: 180px; */
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.online-proofreader hr{
	margin-top: 0;
	margin-bottom: 0;
	border-color:#eee;
}
.online-proofreader .col-sm-3 h4{
	font-size: 14px;
	padding-left: 10px;
}
.online-proofreader .col-sm-3{
	border:1px dashed #ddd;
	padding:10px;
	margin:0px 5px;
	width:23.9%;
	height: 250px;
}
.webdesigncase .row{
	margin:0;
}
.webdesigncase .col-sm-4{
	border:1px dashed #eee;
	width: 225px;
	margin:3px;
	padding:10px;
}
.webdesigncase .col-sm-3 button{
	padding:0;
	background:none;
	color:#333;
	font-size: 16px;
	margin:0;
	height:auto;
	width: 100%;
	text-align:left;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom:1px solid #eee;
	line-height:25px;
	margin-bottom: 5px;
}
.webdesigncase .col-sm-3 ul{
	list-style-type:none;
	padding-left:15px;
	width: 150px;
}
.webdesigncase .col-sm-3 >ul >li{
	margin-top: 15px;
}
.webdesigncase .col-sm-3 ul li ul li{
	margin:5px 0;
}
.webdesigncase .col-sm-3 ul li a{
	color:#666;
}
.webdesigncase .col-sm-3 ul li:nth-of-type(1){
	margin-top: 0;
}
.btn:focus,.btn-info:focus,.btn:focus, .btn:active:focus, .btn.active:focus{
	outline:none;
	outline-offset:0;
}

.appdm img:nth-of-type(3){
	margin-top: -1px;
}
.appdm img:nth-of-type(4){
	margin-top: -2px;
}
.addauto{
	margin-bottom: 0;
}
.list-inline>li{
	padding: 0;
}
.col-md-12 .flexslider{
	border:0px;
}
.shape{
	background: #ed6942;
	display:block;
	width: 90%;
	height: 30px;
	position: absolute;
	bottom: 5px;
	z-index: 0;
	border-radius: 5px
}
.section3 >.col-sm-6:nth-child(2) .row .col-sm-6:nth-child(2) span.col-xs-12 .shape,
.section3 >.col-sm-6:nth-child(2) .row .col-sm-6:nth-of-type(2) span.col-xs-12 .shape{
	background: #f2ce54;
}
.colors-shape li{
	width: 20px;
	height: 20px;
}
.colors-shape li:nth-of-type(1){
	background:#dda5a6;
}
.colors-shape li:nth-of-type(1):hover{
	background:#a71313;
}
.colors-shape li:nth-of-type(2){
	background:#fae8f4;
}
.colors-shape li:nth-of-type(2):hover{
	background:#f1c2e2;
}
.colors-shape li:nth-of-type(3){
	background:#ffc2b5;
}
.colors-shape li:nth-of-type(3):hover{
	background:#fe5e3c;
}
.colors-shape li:nth-of-type(4){
	background:#bfd4ab;
}
.colors-shape li:nth-of-type(4):hover{
	background:#5a8e22;
}
.colors-shape li:nth-of-type(5){
	background:#a8cdea;
}
.colors-shape li:nth-of-type(5):hover{
	background:#197ac7;
}
.colors-shape li:nth-of-type(6){
	background:#cda5d9;
}
.colors-shape li:nth-of-type(6):hover{
	background:#7f139a;
}
.colors-shape li:nth-of-type(7){
	background:#9e9e9e;
}
.colors-shape li:nth-of-type(7):hover{
	background:#000000;
}
.colors-shape li:nth-of-type(8){
	background:#fff;
	border: 1px solid #aaa;
}
.colors-shape li:nth-of-type(8):hover{
	background:#fff;
	border: 1px solid #333;
}
.colors-shape li:nth-of-type(9){
	background:url('http://rawpanel.com/N2ISC/image.aspx?id=efc9ec01cef34bb08b14ad86f7e98440') no-repeat;	
}
.colors-shape li:nth-of-type(9):hover{
	background: url('http://rawpanel.com/N2ISC/image.aspx?id=c62c92e6fdf04a16ab9b8bf671ac96b7') no-repeat;
}
.webdesigncase .col-sm-3 ul li ul.colors-shape li{
	margin:10px;
}
.webdesigncase .col-sm-3 ul li ul.colors-shape li a{
	width: 20px;
	height: 20px;
	display: block;
}
.sectionbg{
	background: url('http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/bg.jpg');
}
.lectures .row h1{
	font-size: 24px;
	font-weight: bolder;
	background: #0671B4;
	padding: 15px;
	color: #fff;
	border-radius: 5px;
}
.lectures .row h3{
	font-size: 18px;
	font-weight: bold;
	color: #DF0615;
}
.lectures .row span h4{
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
	text-indent: 34px;
	font-weight: normal;
}
.lectures .row h4.title{
	font-weight: bolder;
	margin-top: 21px;
	margin-bottom: 21px;
}
.lectures .row ul li{
	color: #980101;
	margin: 7.5px 0;
	font-size: 16px;
}
.lectures .row iframe{
	height: 700px!important;
}
.from-title{
	font-weight: bolder;
}
.lectures .col-xs-12 iframe{
	height: 700px!important;
	margin-bottom: 35px;
}
.wow{
	position: absolute;
	background:url('http://rawpanel.com/N2ISC/image.aspx?id=668cedfea31e4829825cb21143718cc6') no-repeat;	
	width: 15vw;
	height: 15vw;
	display: block;
	-webkit-background-size: contain;
	background-size: contain;
	top: 0;
	left: 0px;
}
.lectures{
	padding: 0;
}
.lectures .container{
	width: 750px;
}
.talk{
	position: fixed;
	background: url('http://rawpanel.com/N2ISC/image.aspx?id=51a1b96a5c5743fca35456e175b0b9f1') no-repeat;
	width: 25vw;
	height: 20vw;
	display: block;
	-webkit-background-size: contain;
	background-size: contain;
	left:0px;
	bottom: 0;
}
.right-bottom{
	position: fixed;
	background:url('http://rawpanel.com/N2ISC/image.aspx?id=6a3fc190e44d4354b682e0c6c0f9f384')  no-repeat;
	width: 18vw;
	height: 13vw;
	display: block;
	right: 0;
	bottom: 0;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu-wrapper-area ul.nav-list a,.menu-wrapper-area ul.nav-list a:hover{
	border: none;
	color: #fff;
	font-weight: bolder;
	letter-spacing: 2px
}
ul.nav-list > li{
	width: 15%;
}
.section4{
	width: 970px;
	display: block;
	margin: 0 auto;
}
#rwdsys span.col-xs-12,
#rwdsys span.col-xs-12 .title {
	text-align: center;
}
#rwdsys span.col-xs-12 .title{
	margin-top: 0;
	font-weight: bold;
}
#rwdsys .product-tb{
	margin-top: 20px;
	/* margin-bottom: 10px; */
}
#rwdsys .product-tb span.col-sm-10.col-xs-12{
	text-align: left;
}
.product-tb .row{
	border-bottom: 1px dashed #333;
}
.product-tb .col-sm-10.col-xs-12{
	/* line-height: 40px; */
	border-left: 1px dashed #333;
}
.product-tb .col-sm-10.col-xs-12{
	/* line-height: 20px; */
}
#rwdproject h3.title,
#rwdproject span{
	text-align: center;
	margin-bottom: 10px;
}
#rwdproject h3.title{
	margin-top: 0;
	font-weight: bolder;
}
#rwdproject .col-sm-6.col-xs-12 .col-xs-12 h4.title{
	font-weight: bolder;
	text-align: center;
	margin-bottom: 20px;
}
#rwdproject .col-sm-6.col-xs-12 .col-xs-12 .row{
	border-bottom: 1px dashed #333;
}
#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12{
	margin-top: 20px;
}
#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12{
	border-right: 1px dashed #333;
}
#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12,
#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-9.col-xs-12{
	margin: 10px 0;
}
#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12,
#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-9.col-xs-12{
	text-align: left;
	padding: 0 15px;
}
#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12 ul{
	list-style: none;
	padding-left: 0;
}
#rwdproject >.col-sm-6.col-xs-12 >.col-xs-12 .col-sm-3.col-xs-12 ul li{
	line-height: 25px
}
.rwd-case{
	margin-top: 40px;
}
.rwd-case #rwdproject >.col-sm-6.col-xs-12 {
	position: relative;
	height: 100%;
	padding-bottom: 35px;
}
.col-md-12 #rwdproject a{
	right: 0;
	bottom: 0;
}
.case h3.title
.case h4.title{
	padding-top: 15px;
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #777;
	display: inline-block;
	padding-bottom: 5px;
}
.case span.col-xs-12 h5{
	line-height: 30px;
	margin-top: 0;
}
.case .col-xs-12.appdm{
	padding: 0 150px;
}
.case .col-sm-4{
	padding: 0 15px;
}
.case .col-sm-4 i{
	text-align: center;
	display: block;
	margin-bottom: 10px;
}
.case .col-sm-4 h4.title{
	text-align: center
}
.case span.col-xs-12.col-sm-4 h5{
	margin-top: 20px;
	line-height: 30px;
}
#rwdsys .col-sm-6.app-system .row{
	border-bottom: 1px dashed #333;
	padding: 15px 0;
}
#rwdsys .col-sm-6.app-system span.col-sm-3.col-xs-12{
	border-left: none;
	margin-bottom: 0;
}
#rwdsys .col-sm-6.app-system span.col-sm-9.col-xs-12{
	border-left: 1px dashed #333;
	margin-bottom: 0;
	padding-left: 15px;
	text-align: left
}
.appprice .app h4.title,
.appprice .app h5{
	text-align: center
}
.appprice .app h4.title i.fa{
	margin-right: 10px;
}
.appprice .app ul{
	list-style: none;
	padding-left: 0;
	border-bottom: 1px dashed #333;
	width: 200px;
	margin: 0 auto;
	padding-bottom: 10px;
}
.appprice .app ul li{
	text-align: center;
	line-height: 30px;
}
/* .appprice #rwdproject .col-sm-6:nth-of-type(1) span.title{
	display: block;
	margin: 0 auto;
	width: 217px;
} */
/* .appprice #rwdproject .col-sm-6:nth-of-type(2) span.title{
	display: block;
	margin: 0 auto;
	width: 238px;
} */
body .container-fluid.howfb,
.fb-icon >.row{
	background: #3b5998;
	padding: 20px 0;
}
.howfb h3.title,
.fb-mix h4.title,
.fb-mix h5{
	text-align: center;
	color: #fff;
}
.howfb .container:nth-of-type(1) .wisfb,
.fb-mix{
	width: 970px;
	display: block;
	margin: 0 auto;
}
.howfb .container:nth-of-type(1) .wisfb h4,
.howfb .container:nth-of-type(1) .wisfb h5{
	text-align: center;
	color: #fff;
}
.howfb .container:nth-of-type(1) .wisfb h5{
	line-height: 25px
}
.fb-icon .row:nth-of-type(1) h4.title{
	text-align: center;
	color: #3b5998;
}
.fb-icon .col-sm-3,
.fb-icon .col-sm-4{
	padding: 0 15px;
}
.fb-icon .col-sm-3 h5,
.fb-icon .col-sm-4 h5{
	line-height: 25px;
	color:#3b5998 ;
}
.fb-icon .fa,
.fb-icon h4.sec-title{
	display: block;
	text-align: center;
	color: #3b5998;
}
.fb-icon h5{
	line-height: 25px
}
.fb-fans .container .row:nth-of-type(4) .col-sm-8 ul,
.fb-fans .container .row:nth-of-type(5) .col-sm-8 ul,
.fb-fans .container .row:nth-of-type(6) .col-sm-8 ul{
	list-style: none;
}
.fb-fans .container .row:nth-of-type(4) .col-sm-8 ul li,
.fb-fans .container .row:nth-of-type(5) .col-sm-8 ul li,
.fb-fans .container .row:nth-of-type(6) .col-sm-8 ul li{
	float: left;
	width: 100px;
	height: auto;
	margin: 0 10px;
	box-shadow: 1px 1px 1px 1px #ccc
}
.fb-fans .container .row:nth-of-type(4) .col-sm-8 ul li a,
.fb-fans .container .row:nth-of-type(5) .col-sm-8 ul li a,
.fb-fans .container .row:nth-of-type(6) .col-sm-8 ul li a{
	display: block;
	width: 100px;
	height: auto;
}
.fb-fans .row,
.container-fluid.fbapp .row{
	margin: 90px 0;
}
.row.case1,
.row.case2{
	margin-top: 30px;
}
.fb-fans .container .row .col-sm-8,
.fb-fans .container .row .col-sm-4,
.fbapp .container .row .col-sm-8,
.fbapp .container .row .col-sm-4{
	padding: 0 15px;
}
.blog-markting h3.title,
.wom h3.title{
	text-align: center;

}
.blog-markting img:nth-of-type(1),
.blog-markting img:nth-of-type(2),
.blog-markting img:nth-of-type(3),
.wom img:nth-of-type(1),
.wom img:nth-of-type(2),
.media-marketing  >.col-xs-12:nth-of-type(1) img,
.media-marketing  .col-xs-12:nth-of-type(2) img{
	padding: 0 150px;
}
.media-marketing h4.title{
	text-align: center;
}
.seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(2),
.seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(3),
.seo-first .col-xs-12:nth-of-type(2) img:nth-of-type(4){
	padding: 0 70px;
}
.seo-first .title{
	text-align: center
}
.container-fluid.menu-wrapper-area,
.container-fluid.nav-header-area,
.head-list{
	display: none
}
.navbar-default{
	margin-bottom: 0;
	position: relative;
	z-index: 9999;
	border: none;
	background:none;
	border-top: 4px solid #c4181f;
	border-radius: 0;
	box-shadow: 1px 5px 20px 1px rgba(0,0,0,.05);
	height: 100px;
}
.navbar-brand{
	padding: 0;	
	width: 250px;
	height: auto;
}
.navbar-default ul li h5{
	margin-bottom: 0;
	color: #000;
}
.navbar-default .container{
	position: relative;
}
.nav.navbar-nav.navbar-right{
	position: absolute;
	right: 0;
	bottom: 0;
}
.navbar-default .navbar-nav>li{
	margin: 0 20px;
}
.navbar-default .navbar-nav>li>a{
	padding-left: 0;
	padding-right: 0;
}
.rwdf #whyrwd .col-xs-12 h5{
	text-align: center;
	padding:0 200px;
	font-weight: 600;
	line-height: 30px
}
.rwdf #whyrwd .col-xs-12 ul{
	display: block;
	width: 500px;
	margin: 0 auto;
}
.rwdf #whyrwd .col-xs-12 ul li{
	line-height: 30px
}
.owl .container span h3,
.owl .container span h5{
	text-align: center;
}
body #wrap .container-fluid.addauto{
	padding-top: 30px;
	padding-bottom: 30px;
}
.whyrwd-detail,
.owl.container-fluid,
.rwdservice{
	margin-top: 30px;
}
.rwdf #whyrwd .col-xs-12 h5:nth-of-type(1){
	margin-top: 20px;
}
.whyrwd-detail h3.title,
.owl h3.title,
#rwdsys span.col-xs-12 .title,
.rwd-case h3.title,
.app h3.title,
.blog-markting h3.title,
.wom h3.title,
.media-marketing h3.title,
.seo-first h3.title,
.desire h3.title{
	margin-top: 0;
	font-weight: bold;
	display: block;
	width: 325px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.desire h3.title{
	width: 415px;
	margin-bottom: 10px;
}
.rwd-case i,
.app i{
	margin-bottom: 10px;
}
.owl .container span{
	/* background: #ddd; */
	padding-bottom: 10px;
	margin-bottom: 20px;
}
#rwdsys span.col-xs-12{
	margin-bottom: 20px;
}

#rwdproject .col-sm-6 span.title,
/* #rwdsys .col-sm-6 span, */
#rwdsys .col-xs-12 span.title{
	display:inline-block;
	border-left:5px solid red;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}
#rwdproject.rwd .col-sm-6 span.title{
	width: 226px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#rwdproject.app .col-sm-6:nth-of-type(1) span.title{
	width: 220px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#rwdproject.app .col-sm-6:nth-of-type(2) span.title{
	width: 240px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#rwdsys .col-sm-6:nth-of-type(1) div>h5,
#rwdsys .col-sm-6:nth-of-type(2) div>h5{
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0;
}
span.title h5{
	font-size: 22px;
	margin:0;
	padding:0;
	color:red;
	font-weight: 600;
}
#rwdsys .col-sm-6:nth-of-type(1) ul li,
#rwdsys .col-sm-6:nth-of-type(2) ul li{
	line-height:30px;
}
.product-tb .col-sm-10.col-xs-12{
	padding-left: 15px;
}
#rwdsys .product-tb .col-sm-10.col-xs-12,
#rwdsys .product-tb .col-sm-2.col-xs-12{
	margin-bottom: 0;
}
.product-tb .row{
	padding: 15px 0;
}
.rwd-case{
	margin-top: 30px;
}
.rwd-case #rwdproject >.col-sm-6.col-xs-12:nth-of-type(1) .col-xs-12 .row:nth-of-type(2) h5,
.rwd-case #rwdproject >.col-sm-6.col-xs-12:nth-of-type(2) .col-xs-12 .row:nth-of-type(2) h5{
	color:red;
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bolder;
}
.rwd-case #rwdproject >.col-sm-6.col-xs-12:nth-of-type(2) .col-xs-12 .row:nth-of-type(2) b{
	font-size: 14px;
	padding-left: 5px;
}
.item img{
	border: 1px solid #eee;
}
.container-fluid.good{
	margin-bottom: 30px;
}
.appicon{
	margin-bottom: 30px;
}
.fb-fans .row h4.title{
	margin-top: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.blog-markting.row img{
	margin-bottom: 30px;
}
.blog-markting.row img:last-child{
	margin-bottom: 0;
}
.media-marketing.row >.col-xs-12{
	margin-bottom: 30px;
}
.blog-markting.row i,
.media-marketing i{
	text-align: center;
	display: block
}
.media-marketing .col-xs-12>h4.title{
	display: block;
	padding: 5px 15px;
	color:red;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0;
}
.seo-first i,
.desire ul li i{
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.seo-first div.col-xs-12 img{
	margin-top: 30px;
}
.seo-first #whyrwd{
	margin-bottom: 30px;
}
.desire ul{
	list-style: none;
	padding-left: 0;
}
.desire ul li{
	margin-top: 20px;
	float: left;
	width: 20%;
	padding: 0 15px;
}
.desire ul li h5,
.desire ul li h4{
	text-align: center
}
.carousel-swiper.col-sm-12.col-xs-12{
	height: 550px;
	overflow: hidden;
	background: url('http://rawpanel.com/N2ISC/image.aspx?id=878f7cd83b6242968b602b53004d211b') top no-repeat;
	z-index: 0;
	display: block;
	width: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
	/* background-position: 0px -100px; */
	}
body#homebody #wrap .container-fluid.addauto{
	/* padding-top: 15px; */
	padding-bottom: 0;
}
.section1 .carousel-swiper  h1{
	margin-top: 75px;
	border-bottom: 1px solid #eee;
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	color: #fff;
}
.desire{
	margin-top: 30px;
	margin-bottom: 30px;
	opacity: 1;
}
.desire h4.title{
	margin: 5px 0;
	width: 100%;
	display: block
}
.desire h4.title a{
	width: 300px;
	display: block;
	margin: 0 auto;
	color: #DC0615;
	font-weight: bolder;
	text-align: center;
}
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu{
	box-shadow: none;
	border: none;
	border-radius: 0;
	background: rgba(255,255,255,.7);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background: rgba(255,255,255,1);
}
#defaultNavbar1{
	height: 100px!important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background: none;
}
.row.case1 h5,
.row.case2 h5{
	line-height: 30px
}
.seo-first .col-xs-12 .col-xs-12{
	padding: 0 150px;
}
.caseproject .col-sm-6{
	padding: 0 15px;
}
.good .col-sm-6{
	padding: 0 15px;
}
.dropdown-menu>li>a{
	white-space:initial;
}
.navbar-default.navbar-fixed-top{
	position: fixed;
	height: 100px;
	transition: .4s ease-in-out;
	background:rgba(255,255,255,1);
}
.navbar-default.navbar-fixed-top #defaultNavbar1{
	height: 100px!important;
	transition: .4s ease-in-out;
}
.dropdown-menu{
	min-width: 140px
}
.navbar-default.navbar-fixed-top li.dropdown .dropdown-menu{
	background: #fff;
	margin-top: -4px;
}
.desire ul li:hover i{
	color: #DC0615;
	transform: scale(1.1);
	transition: .3s ease-in-out
}
.desire ul li:hover h5,
.desire ul li:hover h4{
	color: #DC0615;
	transition: .3s ease-in-out	
} 
.desire h4.title a:hover{
	text-decoration: underline;
}
.navbar-default .navbar-nav>li>a{
	cursor: default
}
#abgne_float_ad a img{
	width: 100%!important;
	margin-left: 0!important;
}
#abgne_float_ad a{
	display: block;
	width: 100%;
	height: 100%;
}
#abgne_float_ad{
	width: 180px!important;
	left: auto!important;
	right: 0;
}
.owl,
.rwdf #whyrwd,
.rwd-case #rwdsys,
.container.case .col-sm-4 h4.title,
.container.case .col-sm-4 .fa,
.app .title,
.app .fa,
.fb-fans .row:nth-of-type(2),
.fb-fans .row:nth-of-type(3),
.fb-fans .row:nth-of-type(4),
.fb-fans .row:nth-of-type(5),
.fb-fans .row:nth-of-type(6),
.fb-fans .row:nth-of-type(7),
.blog-markting img:nth-of-type(2),
.blog-markting img:nth-of-type(3),
.wom img:nth-of-type(1),
.wom img:nth-of-type(2),
.case1,
.case2,
.media-marketing .col-xs-12:nth-of-type(1),
.media-marketing .col-xs-12:nth-of-type(2),
.media-marketing .col-xs-12:nth-of-type(3){
	opacity: 1;
}
.page_number{
	text-align: center;
}
.page_number span{
    display: inline-block;
    background: #ccc;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 5px;
    text-align: center;
    line-height: 18px;
    border: none;

    transition:.3s;
}
.page_number span:hover{
	background: #fff;
	
}