body [class^="col-"]
	margin: 0
	padding: 0 1em
// 頭部
.navbar.navbar-default
	background-image: url('/images/iconbg.png')
	background-color: #FFF
	+box-shadow(1px 5px 20px 1px rgba(0,0,0,.5))
	.container
		#defaultNavbar1
			ul.nav
				position: static
				height: 100%
				li 
					height: 100%
					display: flex
					align-items: center
					position: relative
					flex-wrap: wrap
					overflow: hidden
					a
						cursor: pointer
						h5
							text-align: center
							color: #3E3A39
							font-weight: normal
							span
								display: block
								text-transform: uppercase
								color: $color-1
								font-size: 12px
								text-align: center
								margin-top: .5em
								letter-spacing: 0
								font-weight: normal
					&::after
						content: ''
						width: 100%
						height: 3px
						transform: translateX(-100%)
						background: #333
						transition: $transition-3
					&:hover
						&::after
							transform: translateX(0)
				@media #{$mobile}
					margin-left: 0
					a
						width: 100%
			@media #{$mobile}
				max-height: inherit
		@media #{$mobile}
			margin: 0
		@media #{$pad-pc}
			width: 100%
			padding: 0 1em
			#defaultNavbar1
				ul.nav.nav
					li
						margin-left: .5em
						margin-right: .5em
		@media #{$mini-pc}
			a.navbar-brand
				width: 250px
				margin-left: 0
		@media #{$pad}
			a.navbar-brand
				width: 120px
				margin-left: 0