// leftmenu
.mbleft
	display: none
	&.showMenu
		display: block
		position: fixed
		top: 0px
		left: 0
		padding-top: 120px
		padding-left: 10vw
		z-index: 1
		background: #fff
		height: 100vh
		transform: translateX(-100%)
		transition: $transition-1
		box-shadow: 0px 0px 3px 1px #eee
		&.showMenu.slide
			transform: translateX(-10%)
		.col-sm-3
			overflow-y: scroll
			height: 80vh
		span
			background: #fff
			position: absolute
			bottom: 5em
			right: -2em
			width: 2em
			padding: .5em
			+box-shadow(1px 1px 1px 1px #ccc)
			border-radius: 0 5px 5px 0px  
			z-index: 999
			cursor: pointer