// RWD
@media #{$pad-pc}
	.navbar.navbar-default .container #defaultNavbar1 ul.nav li
		margin: 0 1em
@media #{$pad}
	.navbar.navbar-default .container #defaultNavbar1 ul.nav li
		margin: 0 .5em
	.navbar-brand
		margin-top: 1em
@media #{$mobile}
	.webdesigncase .col-sm-4
		width: 100%
		margin: 1em 0
		h6.title
			font-size: 1.2em
	