// 每個內頁的banner
.page-banner-
	// 企業VI設計banner
	&videsign,&marketing,&lecture,&news
		position: relative
		margin-top: -30px
		z-index: 0
		+box-shadow(1px 10px 20px -5px rgba(0,0,0,.5))
		.col-sm-5
			position: absolute
			bottom: 15vh
			margin-left: 67%
			height: 5vh
			width: auto
			a
				padding: .5em 2em 
				background: $color-1
				color: #fff
				transition: $transition-1
				&:hover
					opacity: .5
			@media #{$pad}
				bottom: 7vw
			@media #{$mobile}
				bottom: 1em
				width: 100%
				margin-left: 0
				display: flex
				align-items: center
				justify-content: center
				a
					font-size: 12px
					display: inline-block
					width: auto
		img
			width: 100%
	// 企業行銷策略
	&marketing
		.col-sm-5
			margin-left: 37%
			@media #{$mobile}
				margin-left: 0
	// 網路課程講座
	&lecture
		.col-sm-5
			width: 100%
			margin-left: 0
			+flex-center
			bottom: 18vh
			@media #{$mobile}
				margin-left: 0
	// 媒體報導
	&news
		.col-sm-5
			margin-left: 85%
			bottom: 18vh
			@media #{$mobile}
				margin-left: 0
.appdm [class^="col-"]
	padding: 0!important