// app
.appprice
	#rwdproject.app
		.col-sm-6
			span.title
				width: 255px
				b.up
.appicon
	.case
		margin-top: -2.2em
	.appdm
		margin-bottom: 3em
#app-2,#app-3
	margin: 3em 0

#rwdproject.rwd 
	.col-sm-6 
		span.title					
			width: 255px
#rwddf span
	h5
		letter-spacing: 0em
		line-height: 2em
.webdesigncase 
	.col-sm-4
		width: calc(100% / 3 - 1em)
		img
			width: 100%