// vi設計頁面
.page-
	// 共有的icon牆
	&videsign,&marketing
		.iconbg
			background: url('/images/iconbg.png') repeat
			padding: 6em 0 0
			.container
				width: 900px
				@media #{$pad-pc}
					width: 100%
				@media #{$mobile}
					width: 100%
				ul:first-child
					+flex-center
					flex-wrap: wrap
					align-items: inherit
					justify-content: inherit
					li
						width: calc(100% / 4 - 4em)
						margin: 0 2em
						margin-bottom: 2em
						position: relative
						flex: 4 1 auto
						cursor: pointer
						.shap
							position: relative
							z-index: 3
							width: 150px
							height: 150px
							border-radius: 50%
							border: 1px solid #333
							+flex-center
							margin-bottom: 1em
							margin-right: auto
							margin-left: auto
							transition: $transition-1
							background: #fff
							@media #{$mobile}
								+display-flex
						img
							transition: $transition-1
							position: relative
							z-index: 3
							&:last-child
								display: none
						p
							width: 100%
							text-align: center
							margin-top: 0	
							position: relative
							z-index: 3
							transition: $transition-1
						&:hover
							&::after
								border-color: #fff
								background: $color-1
							.shap
								background: $color-1
								border-color: #fff
								img:first-child
									transition: $transition-1
									display: none
								img:last-child
									display: block
						@media #{$pad}
							margin: 0 1em 3em
					@media #{$mobile}
						+display-flex
						justify-content: center
						li
							width: calc(100% / 2 - 1em)
							margin-left: 0
							margin-right: 0

	// vi設計
	&videsign,&marketing,&news
		h1
			+flex-center
			position: relative
			span
				+flex-center
				width: 100%
				&::before,&::after
					content: ''
					width: 25%
					height: 1px
					background: $color-1
					@media #{$pad}
						width: 20%!important 
					@media #{$mobile}
						display: none
				@media #{$mobile}
					text-align: center
			img
				width: 45%
				@media #{$mobile}
					width: 80%
			&::after
				content: ''
				display: inline-flex
				+tr3($color-1,$color-n,$color-n,$color-n)
				border-width: 10px
				margin-top: .5em
				@media #{$mobile}
					margin-left: auto
					margin-right: auto
					width: 15px
					display: block
		h1+p
			text-align: center
			line-height: 2.5em
			font-size: 1em
			font-weight: normal
		.vi-case,.market-case,.news-case
			padding: 6em 0
			h1
				span
					font-size: 1em
					color: $color-1
					&::before
						margin-right: 1em
					&::after
						margin-left: 1em
					&::after,&::before
						width: 30%
			ul.list-inline
				+flex-center
				li
					margin: 0 1em
					a
						padding: .2em .5em
						border: 1px solid #333
						color: #333
						transition: $transition-1
						text-decoration: none
						&:hover
							border: 1px solid $color-1
							background: $color-1
							color: #fff
				li.active
					a
						border: 1px solid $color-1
						background: $color-1
						color: #fff
				@media #{$mobile}
					+display-flex

			.list-inline+.row
				padding-top: 3em
				display: flex
				flex-wrap: wrap
			.col-sm-4
				overflow: hidden
				margin: 1em .5em
				padding: 0
				width: calc(100% /3 - 1em)
				a
					display: block
					width: 100%
					height: 100%
					img
						width: 100%
					div.center-block
						+flex-center
						position: absolute
						top: 0	
						width: 100%
						height: 100%
						z-index: 3
						span
							color: $color-n
							padding: .5em 1em
							border: 1px solid $color-n
							transition: $transition-1
						@media #{$mobile}
							+display-flex
					&::after
						content: ''
						+flex-center
						width: 100%
						height: 100%
						position: absolute
						top: 0
						z-index: 1
						background: $color-n
						transition: $transition-1
						background: rgba(#333,.9)
						opacity: 0
					&:hover
						&::after
							opacity: 1
							transition: $transition-1
						div.center-block
							span
								color: #fff
								border-color: #fff
								transition: .6s $transition-1
				@media #{$mobile}
					width: 100%
					margin: 1em 0
			.gallery
				// column-count: 3
				+column-count(3)
				+column-gap(1em)
				.col-sm-4
					display: inline-block
					width: 100%
					margin: .5em 0
					padding: 0
					border: 1px solid #eee
				@media #{$mobile}
					column-count: 1
			@media #{$mobile}
				padding: 1em 0
	// 企業行銷策略
	&marketing
		.iconbg
			.container
				width: 970px
				@media #{$pad-pc}
					width: 100%
				@media #{$mobile}
					width: 100%
				ul.list-inline
					li
						width: calc(100% / 5 - 4em)
						margin-left: 1em
						margin-right: 1em
					p 
						line-height: 1.5em
						span
							display: block
							text-align: center
							transition: $transition-1
					@media #{$pad}
						flex-wrap: wrap
						li
							width: calc(100% / 5)
							margin-left: 0
							margin-right: 0
							.shap
								width: 120px
								height: 120px
					@media #{$mobile}
						+display-flex
						justify-content: center
						li
							margin: 1em 0
							width: calc(100% / 2 - 2em)
							.shap
								width: 150px
								height: 150px
							p
								width: auto
			@media #{$mobile}
				.row
					margin: 0
		.market-case	
			.col-sm-4
				padding: 0!important
				img
					// height: 80%
					// width: auto
				a
					&::after
						background: rgba(#333,.9)
			p
				text-align: center
				// position: absolute
				// bottom: .5em
				width: 100%
				line-height: 2em
				@media #{$pad}
					bottom: -.5em
				@media #{$mobile}
					position: static

			a
				// margin-bottom: 4em
				@media #{$pad}
					// margin-bottom: 6em
				@media #{$mobile}
					margin-bottom: 0
			.row
				+flex-center
				flex-wrap: wrap
				align-items: inherit
				justify-content: space-between
			.col-sm-4
				padding: 1em
				border: 1px solid #ccc
			article
				margin-bottom: 0
				padding: 1em 1em
				hr
					border-color: $color-1
					margin: 0
				h6
					margin: .5em 0 .5em
				h3
					margin: 0 0 .5em
				p
					text-align: left
					margin: 1em 0
					line-height: 2em

	// 網路課程講座
	&lecture
		.container
			width: 900px
			@media #{$pad-pc}
				width: 750px
			@media #{$mobile}
				width: 100%
			.title
				color: $color-1
				line-height: 1.5em
				font-size: 1.8em
				time
					display: block
					font-size: 1em
					color: $color-1
					font-weight: bold
				@media #{$mobile}
					text-align: left
					font-size: 1.5em
			h2
				line-height: 2em
				font-size: 1.1em
				font-weight: normal
			ul
				h3
					font-size: 1.5em
					margin-left: -1.9em
					font-weight: normal
					@media #{$mobile}
						text-align: left!important
				li
					font-size: 1em
					font-weight: normal
					line-height: 2em
			p,address,time
				font-size: 1em
				font-weight: normal
				line-height: 2em
				b
					font-size: 1.2em
				a
					color: #333
				.focus
					font-weight: bold
					font-size: 1.5em
					color: $color-1
					&.btn
						background: $color-1
						border-radius: 15px
						border-color: $color-1
						color: #fff
						&::after
							content: ''
							border: 1px dashed #fff
							border-radius: 15px
							width: 100%
							height: 100%
							display: block
							position: absolute
							top: 0
							left: 0
						&:hover
							opacity: .5
			.icon
				width: auto
				height: 2em
				margin: 0 1em
			section
				border-bottom: 1px dashed rgba($color-1,.4)
				padding-bottom: 3em
				&:last-child
					border-bottom: 0
					padding-bottom: 0
	// 媒體報導
	&news
		margin-top: 3em
		h1 span
			font-size: 1em
			color: $color-1
			&::before
				margin-right: 1em
			&::after
				margin-left: 1em
		.row
			.col-sm-4
				margin: 1em .5em 2em
				padding: 0em
				border: 1px solid #ccc
				a
					margin-bottom: 4em
				@media #{$mobile}
					margin: 1em 0
			p
				position: absolute
				bottom: 0
				width: 100%
				text-align: center

.col-md-12.col-md-12 #rwdproject a
	padding: .5em 1em
	bottom: -1em
	border-radius: 1em
	background: $color-1
	color: #fff