// 企業行銷策略內頁
.page-marketing.market-case
	padding: 6em 0
	@media #{$mobile}
		padding: 3em 0 6em
	.img-dm
		@media #{$mobile}
			max-width: 100%
	.row
		+flex-center
		flex-wrap: wrap
		align-items: inherit
	h1.title
		width: 100%
		span
			text-align: center
			font-size: .6em
			line-height: 1.5em
			&::after
				margin-left: .5em
			&::before
				margin-right: .5em
	ul
		margin-top: 0em
		@media #{$mobile}
			padding-left: 1.5em
		li
			line-height: 2em
	hgroup
		margin: 3em	0
		h5
			border: 1px solid $color-1
			padding: .3em .5em
			display: inline-block
			margin-bottom: 1em
			&+h3
				margin-top: 0em
				font-size: 1.5em
				color: $color-1
		h5.blog-title
			display: block
			text-align: center
			border: none
			line-height: 2em
			text-align: center
			color: $color-1
			font-size: 1.2em
	article
		display: block
		width: 100%
		padding-bottom: 3em
		margin-bottom: 3em
		border-bottom: 1px dashed $color-1
		text-align: center
		&:last-child
			border-bottom: none
		p
			text-align: center
			line-height: 2em
			margin-bottom: 1em
		img
			width: 100%
			max-width: 50%
			display: inline-block
			border: 1px solid #ccc
			@media #{$mobile}
				max-width: 100%
	// .col-sm-4.col-xs-12
	// 	border: 1px solid #ccc
	// 	width: calc( 100% / 3 - 2em)
	// 	margin: 0 1em
	// 	a
	// 		display: block
	// 		cursor: pointer
	// 		transition: $transition-1
	// 		&:hover
	// 			opacity: .5
	// 	@media #{$mobile}
	// 		width: 100%
	// 		margin: 1em 0
	// .col-sm-7
	// 	a
	// 		color: #333
	// 	@media #{$mobile}
	// 		word-wrap: break-word
	[class^="col-"]
		+flex-center