.mobile-only
	display: none
.img-dm
	max-width: 750px
// webdesigncase
@media #{$mobile}
	.online-proofreader span, .webdesigncase span
		width: 90%
		margin: 0 auto
	.container-fluid.addauto > .col-md-12 h3
		text-align: left
	.xs-hidden
		display: none
	.mobile-only
		display: block
		.title
			span
				font-size: 1em
				color: $color-1
				display: block
				text-align: center
			&::after
				content: ''
				display: inline-flex
				+tr3($color-1,$color-n,$color-n,$color-n)
				border-width: 10px
				margin-top: .5em
	.img-dm
		max-width: 100%