<link rel="stylesheet" href="http://hero024.so-buy.com/ezfiles/143/1143/img/1478/animate.css">
<link rel="stylesheet" href="http://hero024.so-buy.com/ezfiles/143/1143/img/1478/lightbox.css">
<link rel="stylesheet" href="http://hero024.so-buy.com/ezfiles/143/1143/img/1478/owl.carousel.css">
<link rel="stylesheet" href="http://hero024.so-buy.com/ezfiles/143/1143/img/1478/swiper.css">
<link rel="stylesheet" href="css/usercss.css">
<link rel="stylesheet" href="http://hero024.so-buy.com/ezfiles/143/1143/img/1478/responsive.css">
<!--0221修改-->
<link rel="stylesheet" href="/css/featherlight.css">
<link rel="stylesheet" href="/css/busercss.css">
<script src="/js/featherlight.js"></script>
<!--
<link rel="stylesheet" href="http://hero024.so-buy.com/ezfiles/143/1143/img/1555/style4.css">
-->
<script src="https://use.fontawesome.com/994279a254.js"></script>
<script src="http://hero024.so-buy.com/ezfiles/143/1143/img/1479/jquery.parallax-1.1.3.js"></script>
<script src="http://hero024.so-buy.com/ezfiles/143/1143/img/1479/lightbox.js"></script>
<script src="http://hero024.so-buy.com/ezfiles/143/1143/img/1479/owl.carousel.js"></script>
<script src="http://hero024.so-buy.com/ezfiles/143/1143/img/1479/swiper.js"></script>
<script src="http://hero024.so-buy.com/ezfiles/143/1143/img/1479/Sortable.js"></script>
<script src="/js/user.js"></script>

<!--head-->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="http://s3.amplealpha.com/"><img src="http://rawpanel.com/N2ISC/image.aspx?id=1108aa9d75124d348adb74d716169769" class="img-responsive" alt=""></a></div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="defaultNavbar1">
                <ul class="nav navbar-nav navbar-right">
                    <!--                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <h5>響應式網站</h5>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=5wjyd8lhshml4#rwd-1">為什麼要做響應式網站</a></li>
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=5wjyd8lhshml4#rwd-2">雲端主機及系統平台</a></li>
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=5wjyd8lhshml4#rwd-3">行動方案</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <h5>手機APP開發</h5>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=5hyapyh7lvkx4#app-1">網路行銷新戰場</a></li>
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=5hyapyh7lvkx4#app-2">雲端空間及平台功能</a></li>
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=5hyapyh7lvkx4#app-3">行動方案</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <h5>FACEBOOK社群行銷</h5>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=t5qptlmj65qqq#facebook-1">粉絲愛上您</a></li>
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=t5qptlmj65qqq#facebook-2">部落客愛上您</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <h5>部落格行銷及廣代</h5>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=qqkuglyzhyuhz#blog-1">部落格行銷</a></li>
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=qqkuglyzhyuhz#blog-2">口碑行銷</a></li>
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=qqkuglyzhyuhz#blog-3">分眾平台</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <h5>搜尋排名SEO</h5>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=pynexvu6hbrhc#seo-1">SEO排名</a></li>
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=pynexvu6hbrhc#seo-2">Yahoo!關鍵字</a></li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="/pagetf.aspx?id=5wjyd8lhshml4">
                            <h5>響應式網站</h5>
                        </a>
                    </li>
                    <li>
                        <a href="/auto_page.aspx?id=payss8nzwpgfq">
                            <h5>經典案例</h5>
                        </a>
                    </li>
                    <li>
                        <a href="/pagetf.aspx?id=5hyapyh7lvkx4">
                            <h5>手機APP開發</h5>
                        </a>
                    </li>
                    <li>
                        <a href="/auto_page.aspx?id=qqqtkjw5fm9x2">
                            <h5>企業視覺設計</h5>
                        </a>
                    </li>
                    <li>
                        <a href="/auto_page.aspx?id=t7kgl7bwg4tsa">
                            <h5>企業行銷策略</h5>
                        </a>
                    </li>
                    <li>
                        <a href="/auto_page.aspx?id=t3c9b4qbj3892">
                            <h5>網路課程講座</h5>
                        </a>
                    </li>
                    <li>
                        <a href="/auto_page.aspx?id=p5kkj6tbs3b65">
                            <h5>媒體報導</h5>
                        </a>
                    </li>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--footer-->
        <div class="container-fluid foot">
            <div class="container">
                <div class="col-sm-4 col-xs-12">
                    <img src="http://hero024.so-buy.com/ezfiles/143/1143/img/1480/footer-logo.png" alt="">
                    <a href="http://www.redmedia-cn.com/www/front/bin/home.phtml">
                        <img src="http://hero024.so-buy.com/ezfiles/143/1143/img/1480/Shanghai.gif" alt="">
                    </a>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="col-xs-12">
                        <ul class="list-inline">
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5wjyd8lhshml4">響應式網站</a></li>|
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5wjyd8lhshml4">經典案例</a></li>|
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5hyapyh7lvkx4">手機APP開發</a></li>|
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t5qptlmj65qqq">FACEBOOK社群行銷</a></li>|
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=qqkuglyzhyuhz">部落格口碑行銷</a></li>|
                            <li><a href="http://s3.amplealpha.com/pagetf.aspx?id=pynexvu6hbrhc">搜尋排名SEO</a></li>|
                            <li><a href="http://www.redmedia-cn.com/www/front/bin/home.phtml">上海紅威</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <img src="http://hero024.so-buy.com/ezfiles/143/1143/img/1480/QRCode.jpg" alt="" data-pin-nopin="true">
                    </div>
                    <div class="col-sm-10 col-xs-12">
                        <h5>地址:台北市大安區信義路4段279號7樓TEL: (02)2703-0860聯絡分機:9 FAX: (02)2703-0865</h5>
                        <h5>下班或假日期間: 請撥24小時業務服務專線0988-362-003 <a href="mailto:service@redmedia.com.tw">Email : service@redmedia.com.tw</a></h5>
                        <h5>本公司聘任常年法律顧問敦宇法律事務所，張寧洲律師擔任本公司之法律諮詢顧問。</h5>
                    </div>
                </div>
            </div>
        </div>
        <!--浮動廣告-->
        <div id="abgne_float_ad" style="opacity: 1; display: block; top: 1832px; left: 1603px;"><a target="_self" href="http://hero010.so-buy.com/m/412-1090-5198.php?Lang=zh-tw"><img alt="我要諮詢" border="0" style="width:55%;margin-left: 45%;z-index:-1;" src="   http://rawpanel.com/N2ISC/image.aspx?id=d3107fe53fde43c9a8e78b474d4a5346"></a><br>
    </div>
    <style>
    #abgne_float_ad {
    display: none;
    position: absolute;
    z-index: 99999;
    text-align: center;
    width:300px;
    height:300px
    }
    </style>
    <script>
    $(document).ready(function(){
    $('footer').after ($('div.container-fluid.foot'))
    });
    // 當網頁載入完
    $(window).load(function(){
    var $win = $(window),
    $ad = $('#abgne_float_ad').css('opacity', 0).show(),    // 讓廣告區塊變透明且顯示出來
    _width = $ad.width(),
    _height = $ad.height(),
    _diffY = 120, _diffX = 0,   // 距離右及上方邊距
    _moveSpeed = 800;   // 移動的速度
    
    // 先把 #abgne_float_ad 移動到定點
    $ad.css({
    top: _diffY,    // 往上
    left: $win.width() - _width - _diffX,
    opacity: 1
    });
    
    // 幫網頁加上 scroll 及 resize 事件
    $win.bind('scroll resize', function(){
    var $this = $(this);
    
    // 控制 #abgne_float_ad 的移動
    $ad.stop().animate({
    top: $this.scrollTop() + _diffY,    // 往上
    left: $this.scrollLeft() + $this.width() - _width - _diffX
    }, _moveSpeed);
    }).scroll();    // 觸發一次 scroll()
    
    // 關閉廣告
    $('#abgne_float_ad .abgne_close_ad').click(function(){
    $ad.hide();
    });
    });
    </script>
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="//v2.zopim.com/?4EhiD2h2I62ZdLicXinTokZU3Q1GMW1r";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zopim Live Chat Script-->
    <!--compassfit原生code-->
    <script language="javascript">
    (function () {
    var _lgy     = document.createElement("script");
    var _lgy_adv = 1768;
    window._lgy_advs = window._lgy_advs || {};
    window._lgy_advs[_lgy_adv] = false;
    window._lgy_options = window._lgy_options || {};
    window._lgy_options[_lgy_adv] = {};
    _lgy.async = true;
    _lgy.src = (("https:" == document.location.protocol) ? "https://" : "http://") + 'send.mad-infeed.jp/seg.js';
    var _lgy0 = document.getElementsByTagName('script')[0];
    _lgy0.parentNode.insertBefore(_lgy, _lgy0);
    })();
    </script>
    <script>
    ld='insight.logly.co.jp';
    (function(i,s,o,g,r,a,m){i['LoglyInsightObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//'+ld+'/insight.min.js','li');
    li(ld, 'create', '96471453');
    </script>
    <!--google CV code-->
    <!-- Google Code for CV CODE Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 874649809;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "GMsgCMr64mkQ0bGIoQM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/874649809/?label=GMsgCMr64mkQ0bGIoQM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <!--google RT code-->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 874649809;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/874649809/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <meta property="fb:pages" content="149488282185402" />