<div class="container-fluid page-banner-lecture">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a href="">了解更多</a></div>
    <img src="/images/banner-lecture.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-lecture">
    <div class="container">
        <section class="row">
            <h1 class="title">
                <time>2017/3/8</time>
                響應式網站ＤＩＹ輕鬆架站自己來<br>
                RAW官網大師教你３０分鐘立即開店ＧＯ！！！
            </h1>
            <h2>
                「RAW跨平台電商裝潢引擎」，以線上門面的系統家具裝潢師為概念，<br>
                強調能任意使用筆電、平板、手機操作，輕鬆控管自己的電商系統。<br>
                超智慧及人性化的後臺，每個人都可以在半小時內，<br><br>
                輕鬆簡單架設出響應式網站！上完課人人都可以變成網頁設計師！<img class="icon" src="/images/le-icon-1.png" alt="">
            </h2>
            <ul>
                <h3><img class="icon" src="/images/le-icon-5.png" alt="">課程大綱</h3>
                <li>網站首頁製作</li>
                <li>點點控-靈活變化促銷區塊</li>
                <li>Word支援神器教學</li>
                <li>無限頁面新增</li>
                <li>圖片快速上傳</li>
                <li>線上表單製作</li>
            </ul>
            <p><a class="focus" href="https://docs.google.com/forms/d/e/1FAIpQLSdLomveQGeX5ogpyOAqdrzjhrPbt8rv9XrYAYLIC-CcFYzBQg/viewform" target="_blank">協助您成為網路專業顧問，開創自我競爭力的最佳培訓機會</a></p>
            <address><img class="icon" src="/images/le-icon-2.png" alt="">課程地點: 台北市大安區信義路四段279號7樓(信義安和站5號出口-3分鐘) 紅威媒體 &nbsp;(大教室)</address>
            <p><a href="tel:02-27030860"><img class="icon" src="/images/le-icon-2.png" alt="">電話: 02-27030860</a></p>
            <time><img class="icon" src="/images/le-icon-2.png" alt="">課程時間: 2017/3/8 &nbsp;下午2:30-4:30</time>
            <p><img class="icon" src="/images/le-icon-3.png" alt="">費用: 0元 報名請直接點&gt;&gt;&gt;<a class="focus btn" href="https://docs.google.com/forms/d/e/1FAIpQLSdLomveQGeX5ogpyOAqdrzjhrPbt8rv9XrYAYLIC-CcFYzBQg/viewform" target="_blank">我要報名<img class="icon" src="/images/le-icon-4.png" alt=""></a></p>
        </section>
        <section class="row">
            <h1 class="title">
                <time>2017/3/15</time>
                行動官網大師Raw經銷商說明會
            </h1>
            <h2>加入我們<br>
            協助您2天開設一家專業的網路公司：<br>
            工程部、網頁、企劃、行銷都一起ready！</h2>
            <p><b>Raw是市場唯一</b></p>
            <p>超聰明的快速電商設計工具<br>
            任意的使用筆電，平板，手機操作的電子平台。<br>
            結合先進的手機功能，讓您變得超智慧。<br>
            如照相美圖功能，動動手指即可輕易的讓您的客戶，
            <br>
            <br>
            掌握新訊息或者上架新商品。呈現最即時，最令人感動的線上門面。<img class="icon" src="/images/le-icon-1.png" alt="">
            </p>
            <p>不相信嗎？</p>
            <p>趕快來參加我們的說明會，快來試聽！</p>
            <p><a class="focus" href="https://docs.google.com/forms/d/e/1FAIpQLSdN0kigV_2pxR3dRAZAZKCiSht79xbZPDg1mgaieIRvS1vbdg/viewform" target="_blcnk">協助您成為網路專業顧問，網路創業的最佳機會</a></p>
            <address><img class="icon" src="/images/le-icon-2.png" alt="">課程地點: 台北市大安區信義路四段279號7樓(信義安和站5號出口-3分鐘) 紅威媒體 &nbsp;(大教室)</address>
            <p><a href="tel:02-27030860"><img class="icon" src="/images/le-icon-2.png" alt="">電話: 02-27030860</a></p>
            <time><img class="icon" src="/images/le-icon-2.png" alt="">時間: 2017/3/15 &nbsp;下午2:30-4:30</time>
            <p><img class="icon" src="/images/le-icon-3.png" alt="">費用: 0元 報名請直接點&gt;&gt;&gt;<a class="focus btn" href="https://docs.google.com/forms/d/e/1FAIpQLSdN0kigV_2pxR3dRAZAZKCiSht79xbZPDg1mgaieIRvS1vbdg/viewform" target="_blank">我要報名<img class="icon" src="/images/le-icon-4.png" alt=""></a></p>
        </section>
        <section class="row">
            <h1 class="title">
                <time>2017/3/29</time>
                找到屬於自己產品的網路代言人<br>
                讓部落客愛上您<br>
                尋找部落客的經驗無私分享
            </h1>
            <h2>
                部落客開一檔團購，總團費可能數萬甚至數百萬都有，你找對合作的部落客人選了嗎? 究竟要找哪位部落客才能達到宣傳效益呢？<img class="icon" src="/images/le-icon-1.png" alt="">
            </h2>
            <p>網路行銷預算佔比逐年增加，而部落客行銷一直是各種產品口碑行銷的首選，但一般都會從個人特色和影響力高的開始挑，但影響力高=合作價碼高，一個知名部落客單篇合作稿酬5~8萬元預算是很正常的，一般企業無力負擔，我們將尋找部落客的經驗無私分享，幫助大家找到願意合作的部哥部姊喔!!!</p>
            <ul>
                <h3><img class="icon" src="/images/le-icon-5.png" alt="">課程大綱</h3>
                <li>尋找部落客合作不可不知的5大重點</li>
                <li>如何邀請部落客合作宣傳？</li>
                <li>如何挑選合適人選？</li>
                <li>部落客稿費貴一定好嗎?</li>
                <li>部哥部姊駕到…該如何迎接?</li>
                <li>小兵立大功執行攻略</li>
                <li>部哥部姊寫完文章然後勒???</li>
            </ul>
            <p><a class="focus" href="https://docs.google.com/forms/d/e/1FAIpQLSep6UwtPRlffPQp0TJQZj7lEZcnsaHtA9tvbEsgaca28JZZTw/viewform" target="_blank">協助您成為網路專業顧問，開創自我競爭力的最佳培訓機會</a></p>
            <address><img class="icon" src="/images/le-icon-2.png" alt="">課程地點: 台北市大安區信義路四段279號7樓(信義安和站5號出口-3分鐘) 紅威媒體 &nbsp;(大教室)</address>
            <p><a href="tel:02-27030860"><img class="icon" src="/images/le-icon-2.png" alt="">電話: 02-27030860</a></p>
            <time><img class="icon" src="/images/le-icon-2.png" alt="">課程時間: 2017/3/29 &nbsp;下午2:30-4:30</time>
            <p><img class="icon" src="/images/le-icon-3.png" alt="">費用: 0元 報名請直接點&gt;&gt;&gt;<a class="focus btn" href="https://docs.google.com/forms/d/e/1FAIpQLSep6UwtPRlffPQp0TJQZj7lEZcnsaHtA9tvbEsgaca28JZZTw/viewform" target="_blank">我要報名<img class="icon" src="/images/le-icon-4.png" alt=""></a></p>
        </section>
    </div>
</div>
