<div class="container-fluid page-banner-marketing">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a href="">了解更多</a></div>
    <img src="/images/banner-market.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-marketing market-case">
    <div class="container">
        <div class="row">
            <h1 class="title"><span>部落客愛上您</span></h1>
            <div class="col-sm-5 col-sm-push-7 col-xs-12"><img src="/images/market-1.png" alt="" class="img-responsive"></div>
            <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                <ul>
                    <li>
                        適用對象:
                        <ol>
                            <li>希望擁有大量好評文章及網路口碑者</li>
                            <li>競爭者眾多, 希望突出重圍者</li>
                            <li>想要以小博大, 廣告費有限, 效果要直接有效者</li>
                        </ol>
                    </li>
                    <li>
                        活動條件:
                        <ol>
                            <li>須提供第1階段試用品發放 30個~100個的正品試用</li>
                            <li>須提供第2階段徵文回覆獎金或獎品</li>
                        </ol>
                    </li>
                    <li>
                        活動成效:
                        <ol>
                            <li>30名~100名部落客報名</li>
                            <li>保証70%以上的文章回覆率(文章數/試用品數)</li>
                            <li>商品搜尋結果(yahoo或google)前3頁露出 </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
