<div class="container-fluid page-banner-marketing">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a>了解更多</a></div>
    <img src="/images/banner-market.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-marketing">
    <div class="iconbg">
        <div class="container">
            <div class="row">
                <ul class="list-inline">
                    <li>
                        <div class="shap"><img src="/images/market-icon-1.png" alt=""><img src="/images/market-icon-hover-1.png" alt=""></div>
                        <p class="text-center">SEO<span>排名TOP 10</span></p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-2.png" alt=""><img src="/images/market-icon-hover-2.png" alt=""></div>
                        <p class="text-center">部落客愛上您<span>黃金寫手</span></p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-3.png" alt=""><img src="/images/market-icon-hover-3.png" alt=""></div>
                        <p class="text-center">部落客愛上您<span>素人寫手</span></p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-4.png" alt=""><img src="/images/market-icon-hover-4.png" alt=""></div>
                        <p class="text-center">粉絲愛上您</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-5.png" alt="" data-pin-nopin="true"><img src="/images/market-icon-hover-5.png" alt="" data-pin-nopin="true"></div>
                        <p class="text-center">網紅<span>超級紅</span></p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-6.png" alt=""><img src="/images/market-icon-hover-6.png" alt=""></div>
                        <p class="text-center">網紅<span>漸漸紅</span></p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-7.png" alt=""><img src="/images/market-icon-hover-7.png" alt=""></div>
                        <p class="text-center">FACEBOOK<span>粉絲專業製作</span></p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-8.png" alt=""><img src="/images/market-icon-hover-8.png" alt=""></div>
                        <p class="text-center">FACEBOOK<span>粉絲專頁營運</span></p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-9.png" alt=""><img src="/images/market-icon-hover-9.png" alt=""></div>
                        <p class="text-center">LINE@行銷建置</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/market-icon-10.png" alt=""><img src="/images/market-icon-hover-10.png" alt=""></div>
                        <p class="text-center">LINE@行銷營運</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container market-case">
        <h1><span>我們的客戶案例</span></h1>
        <ul class="list-inline">
            <li><a href="" data-target="market-1">案例介紹</a></li>
            <li><a href="" data-target="market-2">成功案例</a></li>
        </ul>
        <div class="row">
            <div class="col-sm-4 col-xs-12"><a href="/auto_page.aspx?id=t5nvdd7vpuz2x">
                    <img class="img-responsive" src="/images/market-2.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                    <article>
                        <h6>部落客愛上您</h6>
                        <h3 class="title">豐滿信義</h3>
                        <hr>
                        <p>上刊Yahoo美食頭條<br>來客量大增3成<br>突破新高</p>
                    </article>
                </a>
            </div>
            <div class="col-sm-4 col-xs-12"><a href="/auto_page.aspx?id=ptmmxm8d7tvn2">
                    <img class="img-responsive" src="/images/market-3.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                    <article>
                        <h6>部落客愛上您</h6>
                        <h3 class="title">仙桃牌 通汝飲</h3>
                        <hr>
                        <p>試用變愛用<br>談戀愛一定要用<br>部落客都說好好喝喔</p>
                    </article>
                </a>
            </div>
            <div class="col-sm-4 col-xs-12"><a href="/auto_page.aspx?id=qwvq2rq4l9lqx">
                    <img class="img-responsive" src="/images/market-1.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                    <article>
                        <h6>SEO 卡位大成功</h6>
                        <h3 class="title">優視媒體</h3>
                        <hr>
                        <p>關鍵字<br>英文情歌 找一找<br>只要去搜尋都上TOP 10</p>
                    </article>
                </a>
            </div>
        </div>
    </div>
</div>
