<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
<div class="container-fluid page-banner-marketing">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a href="">了解更多</a></div>
    <img src="/images/banner-market.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-marketing market-case">
    <div class="container">
        <div class="row"> 
            <h1 class="title"><span>【豐滿 早午餐信義世貿店】<br>徵求30名部落客</span></h1>
            <div class="col-sm-4 col-xs-12">
                <a href="https://www.walkerland.com.tw/poi/view/60618" target="_blank">
                    <img class="img-responsive" calss="img-responsive" src="/images/market-2.png" alt="" data-pin-nopin="true">
                </a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="http://www.ipeen.com.tw/comment/1029502" target="_blank">
                    <img class="img-responsive" calss="img-responsive" src="/images/market-2-1.png" alt="" data-pin-nopin="true">
                </a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="http://www.ipeen.com.tw/comment/1036000" target="_blank">
                    <img class="img-responsive" calss="img-responsive" src="/images/market-2-2.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>