<div class="container-fluid page-banner-news">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a href="">了解更多</a></div>
    <img src="/images/banner-news.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-news">
    <div class="container news-case">
        <h1><span>媒體報導</span></h1>
        <div class="row">
            <div class="col-sm-4 col-xs-12"><a href="/images/news-featherlight-1.jpg" data-featherlight="image">
                    <img class="img-responsive" src="/images/news-1.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                </a>
                <p>經濟日報報導</p>
            </div>
            <div class="col-sm-4 col-xs-12"><a href="/images/news-featherlight-2.png" data-featherlight="image">
                    <img class="img-responsive" src="/images/news-2.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                </a>
                <p>udn媒體報導1</p>
            </div>
            <div class="col-sm-4 col-xs-12"><a href="/images/news-featherlight-3.png" data-featherlight="image">
                    <img class="img-responsive" src="/images/news-3.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                </a>
                <p>udn媒體報導2</p>
            </div>
            <div class="col-sm-4 col-xs-12"><a href="/images/news-featherlight-4.jpg" data-featherlight="image">
                    <img class="img-responsive" src="/images/news-4.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                </a>
                <p>受邀中華科技大學演講</p>
            </div>
            <div class="col-sm-4 col-xs-12"><a href="/images/news-featherlight-5.jpg" data-featherlight="image">
                    <img class="img-responsive" src="/images/news-5.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                </a>
                <p>網路行銷講座</p>
            </div>
            <div class="col-sm-4 col-xs-12"><a href="/images/news-featherlight-6.jpg" data-featherlight="image">
                    <img class="img-responsive" src="/images/news-6.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                </a>
                <p>FB網路行銷講座</p>
            </div>
            <div class="col-sm-4 col-xs-12"><a href="/images/news-featherlight-7.png" data-featherlight="image">
                    <img class="img-responsive" src="/images/news-7.png" alt="">
                        <div class="center-block">
                            <span>DETAL</span>
                        </div>
                </a>
                <p>TiEA 電商產業發展證書</p>
            </div>
        </div>
    </div>
</div>
