<div class="container-fluid page-banner-marketing">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a href="">了解更多</a></div>
    <img src="/images/banner-market.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-marketing market-case">
    <div class="container">
        <div class="row">
            <h1 class="title"><span>SEO 卡位大成功<br>優視媒體</span></h1>
            <div class="col-xs-12">            
                <img src="images/S3_SEO-01.jpg" class="img-responsive" style="max-width: 750px" alt="">
            </div>
            <div class="col-xs-12">
                <article>
                    <p>客戶名稱   優視媒體</p>
                    <p>關鍵字     英文情歌</p>
                    <img src="images/market-case-2-7.png" alt="">
                </article>
                <article>
                    <p>客戶名稱   優視媒體</p>
                    <p>關鍵字     英文情歌</p>
                    <img src="images/market-case-2-8.png" alt="">
                </article>
                <article>
                    <p>客戶名稱   優視媒體</p>
                    <p>關鍵字     英文情歌</p>
                    <img src="images/market-case-2-9.png" alt="">
                </article>
            </div>

        </div>
    </div>
</div>
