<div class="container-fluid page-banner-videsign">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a href="">了解更多</a></div>
    <img src="/images/banner-vi.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-videsign">
    <div class="container">
        <section class="row">
            <h1><span><img src="/images/vi-title.jpg" alt="" class="center-block" data-pin-nopin="true"></span></h1>
            <p>傳達企業理念與獨立性<br>加強企業識別<br>加深品牌忠誠度<br>企業的認同感，提高士氣。</p>
        </section>
    </div>
    <div class="iconbg">
        <div class="container">
            <div class="row">
                <ul class="list-inline">
                    <li>
                        <div class="shap"><img src="/images/vi-icon-1.png" alt=""><img src="/images/vi-icon-hover-1.png" alt=""></div>
                        <p class="text-center">品牌VI設計</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/vi-icon-2.png" alt=""><img src="/images/vi-icon-hover-2.png" alt=""></div>
                        <p class="text-center">Logo/名片設計</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/vi-icon-3.png" alt="" data-pin-nopin="true"><img src="/images/vi-icon-hover-3.png" alt=""></div>
                        <p class="text-center">banner設計</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/vi-icon-4.png" alt=""><img src="/images/vi-icon-hover-4.png" alt=""></div>
                        <p class="text-center">DM設計</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/vi-icon-5.png" alt=""><img src="/images/vi-icon-hover-5.png" alt=""></div>
                        <p class="text-center">海報設計</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/vi-icon-6.png" alt=""><img src="/images/vi-icon-hover-6.png" alt=""></div>
                        <p class="text-center">手冊設計</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/vi-icon-7.png" alt=""><img src="/images/vi-icon-hover-7.png" alt=""></div>
                        <p class="text-center">商業照片拍攝</p>
                    </li>
                    <li>
                        <div class="shap"><img src="/images/vi-icon-8.png" alt="" data-pin-nopin="true"><img src="/images/vi-icon-hover-8.png" alt=""></div>
                        <p class="text-center">商業影片拍攝</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container vi-case">
        <h1><span>我們的客戶案例</span></h1>
        <ul class="list-inline">
            <li class="active"><a href="#menu1" data-toggle="tab">平面設計</a></li>
            <li><a href="#menu2" data-toggle="tab">商業攝影</a></li>
        </ul>
        <div class="tab-content">        
            <div class="row tab-pane fade in active" id="menu1">
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-1.jpg" data-featherlight="image"><img src="/images/vi-case-1.jpg" alt="" class="img-responsive">
                <div class="center-block">
                    <span>DETAL</span>
                </div></a></div>
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-2.jpg" data-featherlight="image"><img src="/images/vi-case-2.jpg" alt="" class="img-responsive" data-pin-nopin="true">
                <div class="center-block">
                    <span>DETAL</span>
                </div></a></div>
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-3.jpg" data-featherlight="image"><img src="/images/vi-case-3.jpg" alt="" class="img-responsive">
                <div class="center-block">
                    <span>DETAL</span>    
                </div>
                </a></div>
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-4.jpg" data-featherlight="image"><img src="/images/vi-case-4.jpg" alt="" class="img-responsive">
                <div class="center-block">
                    <span>DETAL</span>    
                </div>
                </a></div>
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-5.jpg" data-featherlight="image"><img src="/images/vi-case-5.jpg" alt="" class="img-responsive">
                <div class="center-block">
                    <span>DETAL</span>    
                </div>
                </a></div>
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-6.jpg" data-featherlight="image"><img src="/images/vi-case-6.jpg" alt="" class="img-responsive">
                <div class="center-block">
                    <span>DETAL</span>    
                </div>
                </a></div>
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-7.jpg" data-featherlight="image"><img src="/images/vi-case-7.jpg" alt="" class="img-responsive">
                <div class="center-block">
                    <span>DETAL</span>    
                </div>
                </a></div>
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-8.jpg" data-featherlight="image"><img src="/images/vi-case-8.jpg" alt="" class="img-responsive">
                <div class="center-block">
                    <span>DETAL</span>    
                </div>
                </a></div>
                <div class="col-sm-4 col-xs-12"><a href="/images/vi-case-featherlight-9.jpg" data-featherlight="image"><img src="/images/vi-case-9.jpg" alt="" class="img-responsive">
                <div class="center-block">
                    <span>DETAL</span>
                </div>
                </a></div>
            </div>
            <div class="row tab-pane fade gallery " id="menu2">
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-1.png" data-featherlight="image">
                        <img src="images/gallery-1.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-2.png" data-featherlight="image">
                        <img src="images/gallery-2.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-3.png" data-featherlight="image">
                        <img src="images/gallery-3.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-4.png" data-featherlight="image">
                        <img src="images/gallery-4.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-5.png" data-featherlight="image">
                        <img src="images/gallery-5.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-6.png" data-featherlight="image">
                        <img src="images/gallery-6.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-7.png" data-featherlight="image">
                        <img src="images/gallery-7.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-8.png" data-featherlight="image">
                        <img src="images/gallery-8.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-9.png" data-featherlight="image">
                        <img src="images/gallery-9.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-10.png" data-featherlight="image">
                        <img src="images/gallery-10.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-11.png" data-featherlight="image">
                        <img src="images/gallery-11.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-12.png" data-featherlight="image">
                        <img src="images/gallery-12.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-13.png" data-featherlight="image">
                        <img src="images/gallery-13.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-14.png" data-featherlight="image">
                        <img src="images/gallery-14.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-15.png" data-featherlight="image">
                        <img src="images/gallery-15.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-16.png" data-featherlight="image">
                        <img src="images/gallery-16.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-17.png" data-featherlight="image">
                        <img src="images/gallery-17.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-18.png" data-featherlight="image">
                        <img src="images/gallery-18.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-19.png" data-featherlight="image">
                        <img src="images/gallery-19.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="images/gallery-20.png" data-featherlight="image">
                        <img src="images/gallery-20.png" alt="" class="img-responsive">
                        <div class="center-block"><span>DETAL</span></div>
                    </a></div>
            </div>
        </div>
    </div>
</div>
