<div class="container-fluid appprice" id="app-3">
<div class="container">
<div id="rwdproject" class="app">
<span class="col-xs-12">
      <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
      <h3 class="title">行動方案</h3>
    </span>
<div class="col-sm-6 col-xs-12">
<span class="title">
  <h5>行動方案一 -88,888 <b class="up">起</b></h5>
  <h6>APP DEVELOPER</h6>
</span>
  <div class="col-xs-12">
    <h4 class="title"><i class="fa fa-bicycle" aria-hidden="true"></i>行動便利</h4>
    <ul>
      <li>打電話</li>
      <li>QR Code</li>
      <li>LBS定位</li>
      <li>導航</li>
      <li>找附近景點</li>
      <li>可依距離排序</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4 class="title"><i class="fa fa-balance-scale" aria-hidden="true"></i>行銷延伸</h4>
    <ul>
      <li>刮刮樂</li>
      <li>戳戳樂</li>
      <li>合成拍照</li>
      <li>購物</li>
      <li>訂位</li>
      <li>訂餐</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4 class="title"><i class="fa fa-eye" aria-hidden="true"></i>視覺觸覺</h4>
    <ul>
      <li>大量圖片</li>
      <li>影片解說</li>
      <li>搖晃</li>
      <li>可站立用手指操作</li>
      <li>縮放</li>
      <li>虛擬實境</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4 class="title"><i class="fa fa-comment-o" aria-hidden="true"></i>即時通知</h4>
    <ul>
      <li>推播</li>
      <li>線上客服Chat</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4 class="title">第二年後每年費用</h4>
    <h5>中華電信: $每年8,000元</h5>
    <ul>
      <li>系統升級</li>
      <li>教育訓練課程</li>
      <li>客服及維護費</li>
      <li>網站管理權限</li>
    </ul>
  </div>
</div>
<div class="col-sm-6 col-xs-12">  
<span class="title">
  <h5>行動方案二 - 150,000<b class="up">起</b></h5>
  <h6>APP DEVELOPER</h6>
</span>
 
  <div class="col-xs-12">
    <h4 class="title"><i class="fa fa-bicycle" aria-hidden="true"></i>行動便利</h4>
    <ul>
      <li>打電話</li>
      <li>QR Code</li>
      <li>LBS定位</li>
      <li>導航</li>
      <li>找附近景點</li>
      <li>可依距離排序</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4 class="title"><i class="fa fa-balance-scale" aria-hidden="true"></i>行銷延伸</h4>
    <ul>
      <li>刮刮樂</li>
      <li>戳戳樂</li>
      <li>合成拍照</li>
      <li>購物</li>
      <li>訂位</li>
      <li>訂餐</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4 class="title"><i class="fa fa-eye" aria-hidden="true"></i>視覺觸覺</h4>
    <ul>
      <li>大量圖片</li>
      <li>影片解說</li>
      <li>搖晃</li>
      <li>可站立用手指操作</li>
      <li>縮放</li>
      <li>虛擬實境</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4 class="title"><i class="fa fa-comment-o" aria-hidden="true"></i>即時通知</h4>
    <ul>
      <li>推播</li>
      <li>線上客服Chat</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h4 class="title">第二年後每年費用</h4>
    <h5>中華電信: $每年8,000元</h5>
    <ul>
      <li>系統升級</li>
      <li>教育訓練課程</li>
      <li>客服及維護費</li>
      <li>網站管理權限</li>
    </ul>
  </div>
</div>
</div>
</div>

</div>