<div class="container-fluid lectures">
<div class="col-sm-12 wow"></div>
<div class="col-sm-12 talk"></div>
<div class="right-bottom"></div>
	<div class="container">
		<div class="row">
			<h1>網站及APP動線規劃</h1>
			<h3>日期：2016 / 08 / 24 (三)</h3>
			<h3>時間：15：00 - 17：00</h3>
			<h4 class="title">課程簡介：</h4>
			<span>
				<h4>如果一個網頁設計製作的很美麗，卻動線不良；就如同讓客戶進到了你的廚房，卻找不到路回客廳或者去大門。你要客人該怎麼辦? 相信我，雖然很冏，但是卻有不少人犯了這樣的錯誤。好的網頁設計，是要考慮到美感又能兼顧網路行銷。</h4>
				<h4>這門課將從由基本的網站規劃開始，逐步帶領大家實際規劃網站動線，適合不同程度與需求的同學來選修，詳細的課程規劃請參考課程大綱。</h4>
			</span>
			<h4 class="title">課程大綱：</h4>
			<ul>
				<li>主題鮮明的網站規劃</li>
				<li>動線與視覺一兼二顧</li>
				<li>網站動線規劃10大注意事項</li>
				<li>版面配置與風格確認</li>
				<li>網站架構與功能規劃</li>
				<li>網站動線規劃實做</li>
			</ul>
		</div>
		<div class="row">
			<h1>商業攝影技巧</h1>
			<h3>日期：2016 / 09 / 07 (三)</h3>
			<h3>時間：15：00 - 17：00</h3>
			<h4 class="title">課程簡介：</h4>
			<span>
				<h4>網路世代的來臨，購物族群與消費習慣的改變，實體店面是否位於市中心，有著耀眼的招牌於美輪美奐的裝潢，這些似乎不見得對現在的消費者完全的管用。</h4>
				<h4>有一群消費者們正大量地湧入網路世界，他們只要在家裡輕鬆滑著手機卻已瀏覽著廣大的網路商場，要怎麼拍出一張張有質感的好照片，讓商品脫癮而出，吸引他們的目光似乎已成關鍵。</h4>
			</span>
			<h4 class="title">課程大綱：</h4>
			<ul>
				<li>攝影器材認識與選擇</li>
				<li>相機的基礎認識與操作</li>
				<li>超省錢！百元自製攝影棚</li>
				<li>網路商品攝影的原則與前置作業</li>
				<li>智慧型手機拍攝技巧</li>
			</ul>
		</div>
		<div class="row">
			<h1>網頁與網路廣告文案創意撰寫</h1>
			<h3>日期：2016 / 09 / 21 (三)</h3>
			<h3>時間：15：00 - 17：00</h3>
			<h4 class="title"></h4>
			<span>
				<h4>課程簡介：</h4>
				<h4>發揮文字創意，強大軟實力，啟發文案撰寫技巧。</h4>
				<h4>「寫作技巧」：提供撰寫的技巧，以便學習觀摩。</h4>
				<h4>「範例解說」：以實際案例進行解說，增加了解。</h4>
				<h4>「習題」：在每單元最後，提供練習題。藉此，讓讀者實際進行問題的解答，也培養解決問題的能力。</h4>
			</span>
			<h4 class="title">課程大綱：</h4>
			<ul>
				<li>網站banner寫作教學</li>
				<li>「FB互動」的貼文策略</li>
				<li>關鍵字廣告寫作示範</li>
				<li>Blog圖文並茂示範</li>
				<li>網站架構與內文撰寫引導說明</li>
				<li>案例分享</li>
			</ul>
		</div>
		<div class="row">
			<h1>網路行銷面面觀及挑選適合您的行銷方式</h1>
			<h3>日期：2016 / 10 / 05 (三)</h3>
			<h3>時間：15：00 - 17：00</h3>
			<h4 class="title">課程簡介：</h4>
			<span>
				<h4>網路行銷是最不花錢及最有效的行銷? 沒錯，透過這個課程您會找到最適合您的網路行銷工具。</h4>
				<h4>現在是一個know how的時代， 透過有趣案例的分析，讓您知道每個行銷的操作及限制。</h4>
			</span>
			<h4 class="title">課程大綱：</h4>
			<ul>
				<li>搜尋引擎優化</li>
				<li>關鍵字廣告</li>
				<li>FB粉絲團活動及廣告</li>
				<li>Google聯播網</li>
				<li>網站的登錄與推薦</li>
				<li>部落格行銷</li>
			</ul>
		</div>
		<div class="row">
			<h1>Facebook網路的行銷及操作</h1>
			<h3>日期：2016 / 10 / 19 (三)</h3>
			<h3>時間：15：00 - 17：00</h3>
			<h4 class="title">課程簡介：</h4>
			<span>
				<h4>如何做好社群媒體經營？是踏入行銷者每天都在思考的問題，總是要找最佳的話題，讓品牌跟企業經營好社群媒體，跟粉絲對話、互動。</h4>
				<h4>如何迅速成為成長最快速的社群網站與「鐵粉」互動，鞏固了企業與品牌的社群影響力?如何使用必殺技，讓網友搶著分享你的內容如何讓客戶自動上門?讓顧問來開講~開創您的社群網路市場。</h4>
			</span>
			<h4 class="title">課程大綱：</h4>
			<ul>
				<li>網站 VS 部落格 VS FACEBOOK</li>
				<li>提升「FB互動」的貼文策略</li>
				<li>如何快速增加粉絲數</li>
				<li>提升自然觸及數的方法</li>
				<li>付費廣告操作與設定</li>
				<li>提升粉絲團服務品質的外掛</li>
				<li>案例分享</li>
			</ul>
		</div>
		<div class="row">
			<h1>搜尋引擎網站排名的秘密</h1>
			<h3>日期：2016 / 11 / 02 (三)</h3>
			<h3>時間：15：00 - 17：00</h3>
			<h4 class="title">課程簡介：</h4>
			<span>
				<h4>近年來由消費者主動搜尋的關鍵字廣告，因為可以精準回應消費者需求，並作為其他類型廣告的收網工具，因此成為企業行銷的核心工具。</h4>
				<h4>如何把握網友主動搜尋的商機?精準關鍵字如何有效投放?如何替您找到對的人?如何讓客戶自動上門?讓顧問來開講~開創您的網路市場。</h4>
			</span>
			<h4 class="title">課程大綱：</h4>
			<ul>
				<li>台灣常用的搜尋引擎</li>
				<li>搜尋引擎基本概念</li>
				<li>如何優化網站</li>
					<ul>
						<li>內部連結</li>
						<li>外部連結</li>
						<li>圖文比</li>
						<li>更新頻率</li>
						<li>內容特殊性</li>
					</ul>
			</ul>
		</div>
		<div class="row">
			<h1>如何讓圖片美美的?PS大神的使用</h1>
			<h3>日期：2016 / 11 / 16 (三)</h3>
			<h3>時間：15：00 - 17：00</h3>
			<h4 class="title">課程簡介：</h4>
			<span>
				<h4>Photoshop是目前設計界最重要的軟體，想學習職業等級的影像處理技巧以及影像合成技巧嗎? 您不能錯過本教學課程喔！</h4>
				<h4>全課程包含大量不同的修圖範例教學、去背範例、特效範例、合成範例、商業設計範例、攝影後製範例、網頁設計範例！上課實際操作每一個範例~現場練習~本課程將從最基本的影像處理觀念，和基本工具操作教學講起，課程內將有大量的範例讓您實際操作，因此沒有學過Photoshop的也可以參加喔，唯有厚實的基本功夫，才能設計出有水準的作品！</h4>
				<h4>除了 Photoshop 基本操作教學，您將可學習到許多高階的影像處理技巧及去背合成技巧，例如：遮色片應用、色版應用、混色模式 ...等。並且除了軟體的操作技巧，課堂上還會探討色彩觀念、設計作品的配色技巧、排版觀念、網頁版面的設計觀念 ...等</h4>
			</span>
			<h4 class="title">課程大綱：</h4>
			<ul>
				<li>多張照片套用相同的調色風格</li>
				<li>文字特效快速製作</li>
				<li>快速去背法</li>
				<li>影像合成魔法</li>
				<li>各種DM及banner的製作剖析</li>
			</ul>
		</div>
		<div class="row">
			<h1>Html及網頁架站</h1>
			<h3>日期：2016 / 11 / 30 (三)</h3>
			<h3>時間：15：00 - 17：00</h3>
			<h4 class="title">課程簡介：</h4>
			<span>
				<h4>小至個人簡歷、大至研討會活動的官方網站，越來越多的網站的發跡逐漸證實了一件事：HTML5 / CSS3 / Javascript 提供的互動性完全不亞於 Flash，而使用如 Twitter Bootstrap 等 CSS 框架所製作的網站，不僅能有效傳達重要的訊息，更散發著正式、專業的氣質；其響應式設計（Responsive Web Design, RWD）也能確保網站資訊能在手機、平板電腦與桌上型電腦上提供平順的閱讀體驗。</h4>
				<h4>這門課將從由基本的架設網站開始，課程中使用會 Sublime Text 開發工具的操作，逐步帶領大家走入網頁開發的世界，並依照內容分為基礎班與進階班，適合不同程度與需求的同學來選修，詳細的課程規劃請參考課程大綱。</h4>
			</span>
			<h4 class="title">課程大綱：</h4>
			<ul>
				<li>HTML與CSS 介紹</li>
				<li>網頁排版實做介紹</li>
				<li>HTML 語法 – SEO 網頁優化必備基本的 meta 標籤</li>
				<li>響應式網站介紹</li>
			</ul>
		</div>
			<div class="col-xs-12">
			<h4 class="from-title">課程報名</h4>
				<iframe src="https://docs.google.com/a/redmedia.com.tw/forms/d/e/1FAIpQLSe_3kWYbujYsoNMnum8feHuCPfmDkaiB7CJrQbG_Rg66x6V4w/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
			</div>
	</div>
</div>