<div class="container-fluid online-proofreader">
<div class="container">
	<span>
		<h3>線上校稿</h3>
		<h6>ONLINE PROOFREADER</h6>
	</span>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img">
				<a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11356/107209883.html">
				<img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=a189c8b075224cbcb3ddc5eb657e4432" alt="" class="img-responsive"></a>
			</div>
			<h4>網站製作日期：2016/07/13</h4>
			<h4>網頁設計客戶：維康</h4>
			<h4>網站架設進度：layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11373/index.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=918f62ae90974f33af688135594f9f67" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/08/04</h4>
			<h4>網站設計客：華新工程</h4>
			<h4>網站架設進度:首頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11375/31727242.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=80fc20ec71744f48931e91067bc54e60" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/07/21</h4>
			<h4>網站設計客：酷哥</h4>
			<h4>網站架設進度：layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11385/936886276.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=281681e2a7434ffebb30db4fe06a64ce" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/07/26</h4>
			<h4>網站設計客：好寶寶</h4>
			<h4>網站架設進度：layout製作</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11390/801360116.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=ea597f71d6644826b67b2e20f2651958" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/07/26</h4>
			<h4>網頁設計客戶：小寶寶</h4>
			<h4>網站架設進度：LAYOUT製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11410/107488521.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=2637f8b1b6ec46f494c0802733ef1650" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/08/01</h4>
			<h4>網站設計客戶：SURFRIDER</h4>
			<h4>網站架設進度：layout製作
		</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/9287/layout.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=e25db5d373f84f24aabfa5400bab4232" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/03/22</h4>
			<h4>網站客戶：上海鼎創</h4>
			<h4>網站製作進度：首頁修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero032.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=a8f0b0cff3bc4cc18b80a228bbb9ec8c" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/05/10</h4>
			<h4>網站設計客戶：懷恩月子餐</h4>
			<h4>網站設計進度：內頁上線</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero039.so-buy.com/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=9cf47c23232a40c294b4339836152863" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/04/20</h4>
			<h4>網頁設計客戶：凱瑪特</h4>
			<h4>網站架設進度：內頁修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://shop17.591red.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=b1d4b590fbe042219daae6039a3a7413" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/6/1</h4>
			<h4>網頁設計客戶：德瑞科博</h4>
			<h4>網站架設進度：內頁上線(簡,英)</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11353/175048313.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=2305afe9e25440b5baece2928b6bc3a9" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/07/12</h4>
			<h4>網頁設計客戶：守內安</h4>
			<h4>網站架設進度：layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/10804/index.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=c5ef6913f2364a4ab39f19c17ccdb3dc" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/01/29</h4>
			<h4>網頁設計客戶：程毅企業</h4>
			<h4>網站架設進度：首頁layout</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://shop16.591red.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=dfc71ff9e89741f09f82bb26f0bf8bd0" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/03/14</h4>
			<h4>網頁設計客戶：達特歐</h4>
			<h4>網站架設進度：首頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/10692/layout.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=91562ad536e9441cbdd59d20fc0534ef" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/12/30</h4>
			<h4>網頁設計客戶：慶杰國際</h4>
			<h4>網站架設進度：首頁Layout</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/10698/index.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=0b9a2776138c4f7e9dc4bca0b3c74f2e" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/12/31</h4>
			<h4>網頁設計客戶：星辰動物醫院</h4>
			<h4>網站架設進度：首頁Layout</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://red287.redmedia.com.tw/front/bin/home.phtml"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=a0b7be70310e49378d20705aaf6c5dab" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/12/22</h4>
			<h4>網站設計客戶：鴻樣空間</h4>
			<h4>網站架設進度：內頁上線</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://shop09.591red.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=1f5da6408b9f49348a807ff156b711ed" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/11/25</h4>
			<h4>網站設計客戶：速宜環境(RWD)</h4>
			<h4>網站架設進度：內頁修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://red005.redmedia.com.tw/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=715f9ac9f71e483f9409542806ad2f52" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/08/07</h4>
			<h4>網站設計客戶：力屋國際</h4>
			<h4>網站架設進度：內頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://red289.redmedia.com.tw/front/bin/home.phtml"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=ac0de8e195f94c73b98fa482d2342293" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/11/16</h4>
			<h4>網站設計客：明彩玻璃</h4>
			<h4>網站架設進度:首頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://red182.redmedia.com.tw/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=eaf15325be0644f3a7763cc4ca9dd371" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/03/28</h4>
			<h4>網站設計客：Lace Effect</h4>
			<h4>網站架設進度：內頁修改</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/8517/index55.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=e195f18ac04d44b0b5e63a7e4c7ebb4a" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2013/10/22</h4>
			<h4>網站設計客：發現禪修</h4>
			<h4>網站架設進度：首頁Layout</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://red002.redmedia.com.tw/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=10d99598485d4389a9e82e9a13bb8089" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/09/14</h4>
			<h4>網站設計客：安汶</h4>
			<h4>網站架設進度：首頁上線修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/8907/layout01.htm"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=85e312301b124b91854078ec9c4ccc66" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/03/11</h4>
			<h4>網站設計客：裝甲鋼帶</h4>
			<h4>網站架設進度：首頁LAYOUT</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/8862/0318.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=5950c0e2c3044aac80fa092ba08f5d72" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/03/18</h4>
			<h4>網站設計客：璞實</h4>
			<h4>網站架設進度：首頁layout</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11306/VIVI2.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=b259ef0918154df9abc582edd46bc021" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期2016/06/14</h4>
			<h4>網站設計客：VIVIPARK</h4>
			<h4>網站架設進度layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero054.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=c25338f7e4ba42de8bbc63ee72121dfb" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/06/23</h4>
			<h4>網頁設計客戶：雅丰診所</h4>
			<h4>網站架設進度：結案前修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11317/index.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=1376c468822e4461902c4dd5b90aa9ef" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/06/23</h4>
			<h4>網站設計客：喬富</h4>
			<h4>網站架設進度layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/8513/index1.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=9ebd840b2a1a46b09991881da4ebd3bd" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/02/02</h4>
			<h4>網站設計客：酌易</h4>
			<h4>網站架設進度：首頁 LAYOUT 修改</h4>
		</div>
	</div>
	<div class="row">	
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/8513/index1.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=9ebd840b2a1a46b09991881da4ebd3bd" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/02/02</h4>
			<h4>網站設計客：酌易</h4>
			<h4>網站架設進度：首頁 LAYOUT 修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/7298/index1.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=efe98f0da6d142c28783476fea6234d7" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2015/01/20</h4>
			<h4>網站設計客：喬奶女王Vicky</h4>
			<h4>網站架設進度：首頁LAYOUT 修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero069.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=f1117bfec23c4901b4fc7473161ec723" alt="" class="img-responsive"></a></div>
			<h4>網站製作日期：2016/08/04</h4>
			<h4>網站設計客：三顧</h4>
			<h4>網站架設進度：內頁上線</h4>
		</div>
	</div>
	<ul class="pagination pagination-sm">
  		<li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t7uqcwq5t89nz">1</a></li>
  		<li class="active"><a href="#">2</a></li>
	</ul>
</div>
</div>