<div class="container-fluid online-proofreader">
<div class="container">
	<span>
		<h3>線上校稿</h3>
		<h6>ONLINE PROOFREADER</h6>
	</span>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img">
				<a href="https://goo.gl/6uyBdd">
				<img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=f0a43f59482b436a8d9b9377a6d5d8cc" alt="" class="img-responsive"></a>
			</div>
			<h4>網站製作日期：2016/07/27</h4>
			<h4>網頁設計客戶：壽力</h4>
			<h4>網站架設進度：內頁修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero059.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=8d863dc8a5914b08b6b4c65e5c657afc" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/26</h4>
			<h4>網站設計客：拒油</h4>
			<h4>網站架設進度:內頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://raw0010.com/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=9bc915f56f404ee987cfb078888e89dc" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/27</h4>
			<h4>網站設計客：蜜谷冰品</h4>
			<h4>網站架設首頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://raw011.com/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=9eab419441e743aca4e399365c81b260" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/26</h4>
			<h4>網站設計客：宏作科技</h4>
			<h4>網站架設進度：首頁上線</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11373/index.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=259d878bc4124f49b5d2ef269a125eeb" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/27</h4>
			<h4>網頁設計客戶：華新工程</h4>
			<h4>網站架設進度：首頁Layout修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11377/111807868.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=7cfe7bd2acc34a96a861bcf3469ed6b8" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/26</h4>
			<h4>網站設計客戶：珽雅</h4>
			<h4>網站架設進度：layout製作
		</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11385/936886276.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=05cb3903daf14326906bf58ba23486a4" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/26</h4>
			<h4>網站客戶：好寶寶</h4>
			<h4>網站製作進度：layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11390/801360116.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=fa178e4c1d3e493497ec12c9c70a2297" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/26</h4>
			<h4>網站設計客戶：小寶寶</h4>
			<h4>網站設計進度：LAYOUT製作</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://admin.amplealpha.com/N2ISC/image.aspx?id=90079f5b744b49ec8c480aaf40bc2920" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/05/27</h4>
			<h4>網頁設計客戶：双橋日語</h4>
			<h4>網站架設進度：RWD上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://wukon010.so-buy.com/bin/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=99a1fe7394eb4fad9751f56a2d19a01e" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/06/29</h4>
			<h4>網頁設計客戶：美診所</h4>
			<h4>網站架設進度：內頁修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero017.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=48b37d388bf14385a500990155b50794" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/04/20</h4>
			<h4>網頁設計客戶：夢想家(RWD)</h4>
			<h4>網站架設進度：內頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/10699/213971250.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=c266781965f84f21a56332bf06f90006" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/06/23</h4>
			<h4>網頁設計客戶：美滿寶貝</h4>
			<h4>網站架設進度：首頁Layout 修改</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero035.so-buy.com/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=a22a4db67fcd492789cda5f6ee9c35b4" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/20</h4>
			<h4>網頁設計客戶：艾可</h4>
			<h4>網站架設進度：結案前修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero031.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=b389b7ed8ad341b286b98a3f4239a1d3" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/04/25</h4>
			<h4>網頁設計客戶：福訊</h4>
			<h4>網站架設進度：首頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="https://goo.gl/kBAKcO"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=e49fd3bee29a48e9bb83b8ba9b7c3dd5" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/06/30</h4>
			<h4>網頁設計客戶：立盟</h4>
			<h4>網站架設進度：英/簡語言內頁修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11201/239969545.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=389696b766ae415e905959f9552e3335" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：20160420</h4>
			<h4>網站設計客戶：宗豪</h4>
			<h4>網站架設進度：layout修改</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero038.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=57c6cb51ff254f8289fb982a187dae3e" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/06/04</h4>
			<h4>網站設計客戶：奇樂</h4>
			<h4>網站架設進度：首頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero047.so-buy.com/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=13e1b5eb764e4989b22e73a642f94dfc" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/05/16</h4>
			<h4>網站設計客戶：旺德福</h4>
			<h4>網站架設進度：首頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero046-1.so-buy.com/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=c89cb31a2c924200b9507a657b5ca23f" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期2016/7/06</h4>
			<h4>網站設計客：少帥禪園</h4>
			<h4>網站架設進度:簡體中文上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11279/191520931.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=27027e26423b4e69ade05c1adb9c3009" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期2016/5/19</h4>
			<h4>網站設計客：創本</h4>
			<h4>網站架設進度layout製作</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="https://goo.gl/rBtTHU"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=92153fa185e44b57b2d4fc5d25a1a898" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期2016/06/15</h4>
			<h4>網站設計客：金星</h4>
			<h4>網站架設進度：內頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11282/128187888.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=f1f87e2ba685423c88beda6fe8b600da" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期2016/5/31</h4>
			<h4>網站設計客：沛睿德</h4>
			<h4>網站架設進度layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://shop17.591red.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=0f3604eb66d44a4e9588336f477cfb20" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期2016/6/1</h4>
			<h4>網站設計客：德瑞科博</h4>
			<h4>網站架設進度：首頁上線(簡,英)</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11287/715616487.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=50a802a4b81b4e5b8b94e10095cf69bd" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期20160603</h4>
			<h4>網站設計客：北海漁村</h4>
			<h4>網站架設進度layout製作</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11306/VIVI2.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=b259ef0918154df9abc582edd46bc021" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期2016/06/14</h4>
			<h4>網站設計客：VIVIPARK</h4>
			<h4>網站架設進度layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero054.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=c25338f7e4ba42de8bbc63ee72121dfb" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/06/23</h4>
			<h4>網頁設計客戶：雅丰診所</h4>
			<h4>網站架設進度：結案前修改</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11317/index.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=1376c468822e4461902c4dd5b90aa9ef" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/06/23</h4>
			<h4>網站設計客：喬富</h4>
			<h4>網站架設進度layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11322/112933429.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=872fc7c5b5e24b4288e110da8279e7ae" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/06/28</h4>
			<h4>網站設計客：易學堂</h4>
			<h4>網站架設進度：layout製作</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero062.so-buy.com/m/home.php"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=7589a7e41b4f4c6788e78b85e6b6557f" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/11</h4>
			<h4>網站設計客：宇海</h4>
			<h4>網站架設進度：內頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/11331/467365028.html"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=89a0661087724a4e9bf136d3572a7715" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/01</h4>
			<h4>網站設計客：門德陽</h4>
			<h4>網站架設進度：layout製作</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://mvp481.104web.com.tw/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=7482664fbdfc4eb0964be22585b98ace" alt="" class="imgresponsive"></a></div>
			<h4>網站製作日期：2016/07/05</h4>
			<h4>網站設計客：恩國</h4>
			<h4>網站架設進度：首頁+內頁上線</h4>
		</div>
		<div class="col-sm-3 col-xs-12">
			<div class="img"><a href="http://hero056.so-buy.com/"><img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=7482664fbdfc4eb0964be22585b98ace" alt="" class="imgresponsive"></a></div>
			<h4>網站架設日期：2016/08/01</h4>
			<h4>網站設計客戶：SURFRIDER</h4>
			<h4>網站架設進度：layout製作</h4>
		</div>
	</div>
	<ul class="pagination pagination-sm">
  		<li><a href="#">1</a></li>
  		<li><a href="#">2</a></li>
  		<li><a href="#">3</a></li>
  		<li><a href="#">4</a></li>
  		<li><a href="#">5</a></li>
	</ul>
</div>
</div>