<div class="container-fluid page-banner-marketing">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a href="">了解更多</a></div>
    <img src="/images/banner-market.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-marketing market-case">
    <div class="container">
        <div class="row">
            <h1 class="title"><span>部落客愛上您<br>黃金部落客</span></h1>
            <div class="col-xs-12">            
                <img src="images/blog-dm.jpg" class="img-responsive" style="max-width: 750px" alt="">
            </div>
            <div class="col-xs-12">
                <ul>
                    <li>
                        適用對象:
                        <ol>
                            <li>希望擁有黃金寫手推薦文章及網路口碑宣傳</li>
                            <li>競爭者眾多, 希望突出重圍者</li>
                            <li>運用黃金寫手向鐵粉再次宣傳 刺激購買</li>
                        </ol>
                    </li>
                    <li>
                        活動條件:
                        <ol>
                            <li>須提供第1階段正品試用</li>
                            <li>須提供第2階段部落客對自己鐵粉獎品</li>
                        </ol>
                    </li>
                    <li>
                        活動成效:
                        <ol>
                            <li>可做為廣告宣傳使用</li>
                            <li>保証文章回覆可審稿</li>
                            <li>也可另外付費邀請黃金寫手現身分享</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <hgroup>
                    <h5>成功案例</h5>
                    <h3>【仙桃牌 通汝飲】徵求數名黃金部落客+素人部落客 雙管齊下</h3>
                </hgroup>
                <article>
                    <p>Try it免費索取試用團
                    <br>進行招募活動</p>
                    <img src="images/market-case-2-1.png" alt="">
                </article>
                <article>
                    <hgroup>                    
                        <h5 class="blog-title">部落客愛上您
                        <br>黃金寫手
                        <br>親身體驗
                        <br>讚不絕口</h5>
                    </hgroup>
                    <p>葛瑞絲的天堂</p>
                    <p class="red">味道酸酸甜甜真好喝還可以加果汁隨意搭配變化</p>
                    <img src="images/market-case-2-2.png" alt="">
                    <br>
                    <p>MiuMiuLin妙妙琳</p>
                    <p class="red">每天都要是戀愛模樣！</p>
                    <img src="images/market-case-2-3.png" alt="">
                    <br>
                    <p>盧媽咪</p>
                    <class class="red">由試用到實際的愛用者
                    <br>從此愛上 仙桃牌通汝飲</class>
                    <br>
                    <p>百年仙桃牌通汝飲~「先調好，身才好」<br>也讓我再度擁有豐沛乳汁哦！<br>媽咪說:<br>請我幫忙問廠商可不可以拉姐妹<br>一起享受團購優惠價喔???</p>
                    <img src="images/market-case-2-4.png" alt="">
                    <br>
                    <p>【仙桃牌 通汝飲】SEO搜尋成效 </p>
                    <p>關鍵字大特搜</p>
                    <p>鋪天蓋地喔</p>
                    <img src="images/market-case-2-5.png" alt="">
                    <br>
                    <p>【仙桃牌 通汝飲】產品上市記者會</p>
                    <p>邀請部落客現身<br>現場實際說出自已的使用經驗喔</p>
                    <img src="images/market-case-2-6.png" alt="">
                </article>
            </div>
        </div>
    </div>
</div>
