<div class="container-fluid page-banner-marketing">
    <div class="col-sm-5 col-sm-offset-7 col-xs-12"><a href="">了解更多</a></div>
    <img src="/images/banner-market.jpg" alt="" class="img-responsive">
</div>
<div class="container-fluid page-marketing market-case">
    <div class="container">
        <div class="row">
            <h1 class="title"><span>部落客愛上您<br>素人部落客</span></h1>
            <div class="col-xs-12">            
                <img src="images/blog-dm.jpg" class="img-responsive" style="max-width: 750px" alt="">
            </div>
            <div class="col-xs-12">
                <ul>
                    <li>
                        適用對象:
                        <ol>
                            <li>希望擁有大量好評文章及網路口碑者</li>
                            <li>競爭者眾多, 希望突出重圍者</li>
                            <li>想要以小博大, 廣告費有限, 效果要直接有效者</li>
                        </ol>
                    </li>
                    <li>
                        活動條件:
                        <ol>
                            <li>須提供第1階段試用品發放 30個~100個的正品試用</li>
                            <li>須提供第2階段徵文回覆獎金或獎品</li>
                        </ol>
                    </li>
                    <li>
                        活動成效:
                        <ol>
                            <li>30名~100名部落客報名</li>
                            <li>保証70%以上的文章回覆率(文章數/試用品數)</li>
                            <li>商品搜尋結果(yahoo或google)前3頁露出 </li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <hgroup>
                    <h5>成功案例</h5>
                    <h3>【豐滿 早午餐信義世貿店】徵求30名部落客</h3>
                </hgroup>
                <article>
                    <p>Try it免費索取試用團
                    <br>進行招募活動</p>
                    <img src="images/market-case-1-1.png" alt="">
                    <br>
                    <p>請部落客自由進入活動報名頁<br>自己完成報名</p>
                    <img src="images/market-case-1-2.png" alt="">
                    <br>
                    <p>篩選後寄出試用產品 請部落客回文
                    <br>一篇篇精彩的真實試用經驗
                    <br>由部落客自己完成</p>
                    <img src="images/market-case-1-3.png" alt="">
                    <img src="images/market-case-1-4.png" alt="">
                    <img src="images/market-case-1-5.png" alt="">
                    <br>                    
                    <p>獲選Yahoo美食頭條 上刊出試用心得</p>
                    <p class="red">哇!哇!哇! 來客量大增3成<br>突破新高耶</p>
                    <p>豐滿信義世貿店 店長emily興奮來電</p>
                    <img src="images/market-case-1-7.png" alt="">
                    <br>
                    <p>榮獲WalkerLand 窩客島 頭版刊登</p>
                    <p class="red">日營業額連續<span style="fons-size:1.2em;">7天</span>
                    <br>突破新高
                    <br>新客舊客回流
                    <br>近<span style="font-size:1.2em;">3個月</span>每月業績</p>
                    <p class="red">月月成長</p>
                    <p>豐滿信義世貿店 
                    <br>店長emily興奮又再次來電
                    <br>店長emily笑說自從使用
                    <br>紅威
                    <br>部落客愛上您
                    <br>素人寫手方案
                    <br>從此吳興街街坊鄰居都說
                    <br>我是早午餐一姊 生意強強滾</p>
                    <img src="images/market-case-1-6.png" alt="">
                </article>
            </div>
        </div>
    </div>
</div>
