
    <div class="container-fluid webdesigncase">
<div class="container">
    <span>
        <h3>響應式-成功案例-產業-企業網站</h3>
        <h6>WEB DESIGN CASE</h6>
    </span>
    <div class="row">
        <div class="col-sm-3 col-sm-push-9 col-xs-12">
            <ul>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">產業</button>
                        <div id="demo" class="collapse">
                <ul>
                    <li><a href="">01.企業網站</a></li>
                    <li><a href="">02.線上購物</a></li>
                    <li><a href="">03.美妝衣飾</a></li>
                    <li><a href="">04.食品相關</a></li>
                    <li><a href="">05.工業技術</a></li>
                    <li><a href="">06.醫療保健</a></li>
                    <li><a href="">07.建築裝潢</a></li>
                    <li><a href="">08.旅遊玩樂</a></li>
                    <li><a href="">09.法律金融</a></li>
                    <li><a href="">10.學術藝文</a></li>
                </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">風格</button>
                        <div id="demo2" class="collapse">
                    <ul>
                        <li><a href="">01.科技風</a></li>
                        <li><a href="">02.溫馨風</a></li>
                        <li><a href="">03.夢幻風</a></li>
                        <li><a href="">04.田園風</a></li>
                        <li><a href="">05.時尚風</a></li>
                        <li><a href="">06.復古風</a></li>
                        <li><a href="">07.穩重</a></li>
                        <li><a href="">08.華麗</a></li>
                        <li><a href="">09.簡單大方</a></li>
                        <li><a href="">10.其他</a></li>
                    </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">色系</button>
                        <div id="demo3" class="collapse">
                    <ul class="list-inline">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>                        
                    </ul>
                        </div>            
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-pull-3 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-xs-12"><a href="http://hero046-1.so-buy.com/m/home.php">
                        <h6 class="title">少帥禪園</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=26230a6bb277499eb4a390fe3ad8f08c" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero020.so-buy.com/m/home.php">
                        <h6 class="title">橘平屋海苔</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=d52b51349e7f4602b1322d27e74b7593" alt="" class="img-responsive">
                    </a></div>

                <div class="col-sm-4 col-xs-12"><a href="http://shop12.591red.com/m/home.php">
                        <h6 class="title">迎咖</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=740a934638fa4a80956abacf4d77d3f9" alt="" class="img-responsive">
                    </a></div>

                    <div class="col-sm-4 col-xs-12"><a href="http://hero019.so-buy.com/m/home.php">
                        <h6 class="title">瘩對味</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=541980a0c87f401fa697fb53380cf81e" alt="" class="img-responsive">
                    </a></div>
                    <div class="col-sm-4 col-xs-12"><a href="http://hero002.so-buy.com/m/home.php">
                        <h6 class="title">史大華</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=72d23b212aee4250a43f839a528db060" alt="" class="img-responsive">
                    </a></div>
                    <div class="col-sm-4 col-xs-12"><a href="http://shop05.591red.com/m/home.php">
                        <h6 class="title">美禧</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=5e7a5e0808094596b88bf7f1120c75cb" alt="" class="img-responsive">
                    </a></div>
                    <div class="col-sm-4 col-xs-12"><a href="http://shop03.591red.com/m/home.php">
                        <h6 class="title">冰朕</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=b90155d5d14e4a83ad768454886b3f7a" alt="" class="img-responsive">
                    </a></div>
                    <div class="col-sm-4 col-xs-12"><a href="http://shop08.591red.com/m/home.php">
                        <h6 class="title">京品茗茶</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=3085b3644a3a41df83a9b73231254d04" alt="" class="img-responsive">
                    </a></div>

                      <div class="col-sm-4 col-xs-12"><a href="">
                        <h6 class="title">案件製作中</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=956f2a57f9b847738a8b059908ae15c6" alt="" class="img-responsive">
                    </a></div>
            </div>
        </div>
    </div>
    <ul class="pagination pagination-sm">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div>
</div>