
    <div class="container-fluid webdesigncase">
<div class="container">
    <span>
        <h3>響應式-成功案例-產業-企業網站</h3>
        <h6>WEB DESIGN CASE</h6>
    </span>
    <div class="row">
        <div class="col-sm-3 col-sm-push-9 col-xs-12">
            <ul>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">產業</button>
                        <div id="demo" class="collapse">
                <ul>
                    <li><a href="">01.企業網站</a></li>
                    <li><a href="">02.線上購物</a></li>
                    <li><a href="">03.美妝衣飾</a></li>
                    <li><a href="">04.食品相關</a></li>
                    <li><a href="">05.工業技術</a></li>
                    <li><a href="">06.醫療保健</a></li>
                    <li><a href="">07.建築裝潢</a></li>
                    <li><a href="">08.旅遊玩樂</a></li>
                    <li><a href="">09.法律金融</a></li>
                    <li><a href="">10.學術藝文</a></li>
                </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">風格</button>
                        <div id="demo2" class="collapse">
                    <ul>
                        <li><a href="">01.科技風</a></li>
                        <li><a href="">02.溫馨風</a></li>
                        <li><a href="">03.夢幻風</a></li>
                        <li><a href="">04.田園風</a></li>
                        <li><a href="">05.時尚風</a></li>
                        <li><a href="">06.復古風</a></li>
                        <li><a href="">07.穩重</a></li>
                        <li><a href="">08.華麗</a></li>
                        <li><a href="">09.簡單大方</a></li>
                        <li><a href="">10.其他</a></li>
                    </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">色系</button>
                        <div id="demo3" class="collapse">
                    <ul class="list-inline">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>                        
                    </ul>
                        </div>            
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-pull-3 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-xs-12"><a href="http://shop15.591red.com/m/home.php">
                        <h6 class="title">上海泰基信融</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=80a3a814d1d44cb282eaa2aaced880bd" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://wanfeng168.com.tw/">
                        <h6 class="title">萬嵐國際</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=1bbda1cd30b04653a2e251e75151d797" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero042.so-buy.com/m/home.php">
                        <h6 class="title">陽鼎企業</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=45dd504dcaf9488bb247d77992cd6486" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://www.shindese.com/m/home.php">
                        <h6 class="title">綠創</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=23b9fc3618e94584b28837ff1152bfee" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero013.so-buy.com/m/home.php">
                        <h6 class="title">曼盛投資</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=7dc6c69e77be4d049f48854e491caf9f" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://www.benicecar.com/">
                        <h6 class="title">振凍(專案)</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=f7fd4b7cc1bc4f44bd7607ede6a5a109" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://shop04.591red.com/m/home.php">
                        <h6 class="title">上海首威</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=8448788cf60947f8ad8233db9c64b221" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="">
                        <h6 class="title">案件製作中</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=956f2a57f9b847738a8b059908ae15c6" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="">
                        <h6 class="title">案件製作中</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=956f2a57f9b847738a8b059908ae15c6" alt="" class="img-responsive">
                    </a></div>
            </div>
        </div>
    </div>
    <ul class="pagination pagination-sm">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div>
</div>