
    <div class="container-fluid webdesigncase">
<div class="container">
    <span>
        <h3>響應式-成功案例-產業-企業網站</h3>
        <h6>WEB DESIGN CASE</h6>
    </span>
    <div class="row">
            <div class="col-sm-3 col-sm-push-9 col-xs-12">
                <ul>
                    <li>
                        <button type="button" class="btn btn-info collapsed" data-toggle="collapse" data-target="#demo">產業</button>
                            <div id="demo" class="collapse in">
                    <ul>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=payss8nzwpgfq">01.企業網站</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5u7cw2l5d6vbf">02.線上購物</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5ghqwfmngapqc">03.美妝衣飾</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=qu6d72frgafjc">04.食品相關</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=pkfs29q5l727q">05.工業技術</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t3z2bnpwxmgsf">06.醫療保健</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t3ehnbtmanyy3">07.建築裝潢</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=p93w9hs8kfaaa">08.旅遊玩樂</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5dua2yun6mmfa">09.法律金融</a></li>
                        <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=p4758pqkjxv5q">10.學術藝文</a></li>
                    </ul>
                            </div>            
                    </li>
                    <li>
                        <button type="button" class="btn btn-info collapsed" data-toggle="collapse" data-target="#demo2">風格</button>
                            <div id="demo2" class="collapse in">
                        <ul>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5exacmrvhtklr">01.科技風</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t5fppccfz3eld">02.溫馨風</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t7mngbnnfl6ff">03.夢幻風</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=qu2cq2qyxvmbv">04.田園風</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t76kgh82fba5v">05.時尚風</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5wnl63c6uwgsx">06.復古風</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5fqjvrcm85b4r">07.穩重</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=p3pherqk8vtac">08.華麗</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t543vg7fjbwda">09.簡單大方</a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=tpzsbhsbpdnzd">10.其他</a></li>
                        </ul>
                            </div>            
                    </li>
                    <li>
                        <button type="button" class="btn btn-info collapsed" data-toggle="collapse" data-target="#demo3">色系</button>
                            <div id="demo3" class="collapse in">
                        <ul class="list-inline colors-shape">
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t7bxqjcj7tm32"></a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=p5dbjxeejq32e"></a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=pul4b8vgcqqjw"></a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=p7tqs4kkekk6v"></a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5asfmkzrpxpfs"></a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t34w3e8nyjnd2"></a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=qu86b8hzrbllq"></a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=t38pgc72lenr3"></a></li>
                            <li><a href="http://s3.amplealpha.com/auto_page.aspx?id=5juh4xsdlkt2c"></a></li>                        
                        </ul>
                            </div>            
                    </li>
                </ul>
            </div><!-- div*3>a>h6+img[src="/case_img/type_01_0$.jpg"] -->
        <div class="col-sm-9 col-sm-pull-3 col-xs-12">
            <div class="row">
<!--                 <div class="col-sm-4 col-xs-12"><a href="http://shop15.591red.com/m/home.php">
                        <h6 class="title">上海泰基信融</h6>
                        <img src="http://rawpanel.com/N2ISC/image.aspx?id=80a3a814d1d44cb282eaa2aaced880bd" alt="" class="img-responsive">
                    </a>
                </div> -->
                <div class="col-sm-4 col-xs-12"><a href="http://www.benicecar.com/">
                        <h6 class="title">振凍(專案)</h6>
                        <img src="/case_img/type_01_067.jpg" alt="" class="img-responsive">
                    </a></div>
                    <img src="" alt="">
                <div class="col-sm-4 col-xs-12"><a href="http://hero031.so-buy.com/">
                        <h6 class="title">福訊國際</h6>
                        <img src="/case_img/type_01_068.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero027.so-buy.com">
                        <h6 class="title">酷哥</h6>
                        <img src="/case_img/type_01_069.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero051.so-buy.com/m/home.php">
                        <h6 class="title">門得揚科技</h6>
                        <img src="/case_img/type_01_070.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero072.so-buy.com/m">
                        <h6 class="title">友盟</h6>
                        <img src="/case_img/type_01_071.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://tp-fg.com.tw/index">
                        <h6 class="title">佛光(raw)</h6>
                        <img src="/case_img/type_01_072.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero088.so-buy.com/m/">
                        <h6 class="title">陳媽媽</h6>
                        <img src="/case_img/type_01_073.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero033.so-buy.com">
                        <h6 class="title">宗豪</h6>
                        <img src="/case_img/type_01_074.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://shop09.591red.com/m/home.php">
                        <h6 class="title">上海速宜</h6>
                        <img src="/case_img/type_01_075.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://shop12.591red.com/m/home.php">
                        <h6 class="title">迎咖</h6>
                        <img src="/case_img/type_01_076.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero019.so-buy.com/m/home.php">
                        <h6 class="title">瘩對味</h6>
                        <img src="/case_img/type_01_077.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero036.so-buy.com/m/home.php">
                        <h6 class="title">新福豐168</h6>
                        <img src="/case_img/type_01_078.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://sca-public.org/home_0301.aspx">
                        <h6 class="title">銀髮慈善(專案)</h6>
                        <img src="/case_img/type_01_079.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://dartsin.com.tw/auto_page.aspx?id=p2cbkysj9zarc">
                        <h6 class="title">達信(raw)</h6>
                        <img src="/case_img/type_01_080.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://www.cyan.com.tw/">
                        <h6 class="title">迅杰智能(專案)</h6>
                        <img src="/case_img/type_01_081.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://shop04.591red.com/m/home.php">
                        <h6 class="title">上海首威</h6>
                        <img src="/case_img/type_01_082.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero003.so-buy.com/m/home.php">
                        <h6 class="title">點花亭</h6>
                        <img src="/case_img/type_01_083.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero008.so-buy.com/m/home.php">
                        <h6 class="title">ortugas Couture</h6>
                        <img src="/case_img/type_01_084.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero002.so-buy.com/m/home.php">
                        <h6 class="title">史大華</h6>
                        <img src="/case_img/type_01_085.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://shop05.591red.com/m/home.php">
                        <h6 class="title">美禧</h6>
                        <img src="/case_img/type_01_086.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://shop03.591red.com/m/home.php">
                        <h6 class="title">冰朕</h6>
                        <img src="/case_img/type_01_087.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero014.so-buy.com/m/home.php">
                        <h6 class="title">鈦甫科技</h6>
                        <img src="/case_img/type_01_088.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://www.agilesim.com.tw/m/home.php">
                        <h6 class="title">安捷新</h6>
                        <img src="/case_img/type_01_089.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero004.so-buy.com/m/home.php">
                        <h6 class="title">汎亞動物醫院</h6>
                        <img src="/case_img/type_01_090.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero007.so-buy.com/m/home.php">
                        <h6 class="title">願麗醫美</h6>
                        <img src="/case_img/type_01_091.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero009.so-buy.com/m/home.php">
                        <h6 class="title">嘉會生技</h6>
                        <img src="/case_img/type_01_092.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://www.idroc.org.tw/front/bin/home.phtml">
                        <h6 class="title">全聯會</h6>
                        <img src="/case_img/type_01_093.jpg" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://shop02.591red.com/m/home.php">
                        <h6 class="title">上海必妥</h6>
                        <img src="/case_img/type_01_094.jpg" alt="" class="img-responsive">
                    </a></div>
            </div>
        </div>
    </div>
<p class="col-xs-12 page_number">
    <span><a href="/auto_page.aspx?id=payss8nzwpgfq">1</a></span>
    <span><a href="/auto_page.aspx?id=t766u62pmpkmf">2</a></span>
    <span><a href="/auto_page.aspx?id=pdcf9ezevz3ts">3</a></span>
</p>
</div>
</div>

<!-- 湊手機版左側選單 -->
<div class="mbleft">
  <span>
    產業類別
  </span>
  <div class="menuappend">
    
  </div>
</div>