
    <div class="container-fluid webdesigncase">
<div class="container">
    <span>
        <h3>響應式-成功案例-產業-企業網站</h3>
        <h6>WEB DESIGN CASE</h6>
    </span>
    <div class="row">
        <div class="col-sm-3 col-sm-push-9 col-xs-12">
            <ul>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">產業</button>
                    <div id="demo" class="collapse">
                        <ul>
                            <li><a href="">01.企業網站</a></li>
                            <li><a href="">02.線上購物</a></li>
                            <li><a href="">03.美妝衣飾</a></li>
                            <li><a href="">04.食品相關</a></li>
                            <li><a href="">05.工業技術</a></li>
                            <li><a href="">06.醫療保健</a></li>
                            <li><a href="">07.建築裝潢</a></li>
                            <li><a href="">08.旅遊玩樂</a></li>
                            <li><a href="">09.法律金融</a></li>
                            <li><a href="">10.學術藝文</a></li>
                        </ul>
                    </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">風格</button>
                        <div id="demo2" class="collapse">
                    <ul>
                        <li><a href="">01.科技風</a></li>
                        <li><a href="">02.溫馨風</a></li>
                        <li><a href="">03.夢幻風</a></li>
                        <li><a href="">04.田園風</a></li>
                        <li><a href="">05.時尚風</a></li>
                        <li><a href="">06.復古風</a></li>
                        <li><a href="">07.穩重</a></li>
                        <li><a href="">08.華麗</a></li>
                        <li><a href="">09.簡單大方</a></li>
                        <li><a href="">10.其他</a></li>
                    </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">色系</button>
                        <div id="demo3" class="collapse">
                    <ul class="list-inline colors-shape">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>                        
                    </ul>
                        </div>            
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-pull-3 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-xs-12"><a href="http://hero059.so-buy.com/m/home.php">
                        <h6 class="title">台灣拒油</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=5e81e6eee12b4121b557195d32025906" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero003.so-buy.com/m/home.php">
                        <h6 class="title">點花亭</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=c296abc24def4feaa201f742db194a8f" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero001.so-buy.com/m/home.php">
                        <h6 class="title">若草</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=1b7d6a8e05d342099b6beda8183b44a0" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero037.so-buy.com/m/home.php">
                        <h6 class="title">柏飛禮品</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=9af6e14921024bb38786e15262bb6937" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero062.so-buy.com/m/home.php">
                        <h6 class="title">宇海國際</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=ecc13783d8804c01b1314a8265dc5e33" alt="" class="img-responsive">
                    </a></div>
                
                <div class="col-sm-4 col-xs-12"><a href="">
                        <h6 class="title">案件製作中</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=956f2a57f9b847738a8b059908ae15c6" alt="" class="img-responsive">
                    </a></div>
                
                <div class="col-sm-4 col-xs-12"><a href="">
                        <h6 class="title">案件製作中</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=956f2a57f9b847738a8b059908ae15c6" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="">
                        <h6 class="title">案件製作中</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=956f2a57f9b847738a8b059908ae15c6" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="">
                        <h6 class="title">案件製作中</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=956f2a57f9b847738a8b059908ae15c6" alt="" class="img-responsive">
                    </a></div>
            </div>
        </div>
    </div>
    <ul class="pagination pagination-sm">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div>
</div>