
    <div class="container-fluid webdesigncase">
<div class="container">
    <span>
        <h3>響應式-成功案例-產業-企業網站</h3>
        <h6>WEB DESIGN CASE</h6>
    </span>
    <div class="row">
        <div class="col-sm-3 col-sm-push-9 col-xs-12">
            <ul>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">產業</button>
                        <div id="demo" class="collapse">
                <ul>
                    <li><a href="">01.企業網站</a></li>
                    <li><a href="">02.線上購物</a></li>
                    <li><a href="">03.美妝衣飾</a></li>
                    <li><a href="">04.食品相關</a></li>
                    <li><a href="">05.工業技術</a></li>
                    <li><a href="">06.醫療保健</a></li>
                    <li><a href="">07.建築裝潢</a></li>
                    <li><a href="">08.旅遊玩樂</a></li>
                    <li><a href="">09.法律金融</a></li>
                    <li><a href="">10.學術藝文</a></li>
                </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">風格</button>
                        <div id="demo2" class="collapse">
                    <ul>
                        <li><a href="">01.科技風</a></li>
                        <li><a href="">02.溫馨風</a></li>
                        <li><a href="">03.夢幻風</a></li>
                        <li><a href="">04.田園風</a></li>
                        <li><a href="">05.時尚風</a></li>
                        <li><a href="">06.復古風</a></li>
                        <li><a href="">07.穩重</a></li>
                        <li><a href="">08.華麗</a></li>
                        <li><a href="">09.簡單大方</a></li>
                        <li><a href="">10.其他</a></li>
                    </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">色系</button>
                        <div id="demo3" class="collapse">
                    <ul class="list-inline">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>                        
                    </ul>
                        </div>            
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-pull-3 col-xs-12">
            <div class="row">
                 <div class="col-sm-4 col-xs-12"><a href="http://www.benicecar.com/">
                        <h6 class="title">振凍(專案)</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=f7fd4b7cc1bc4f44bd7607ede6a5a109" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero042.so-buy.com/m/home.php">
                        <h6 class="title">陽鼎企業</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=45dd504dcaf9488bb247d77992cd6486" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero037.so-buy.com/m/home.php">
                        <h6 class="title">柏飛禮品</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=9af6e14921024bb38786e15262bb6937" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero040.so-buy.com/m/home.php">
                        <h6 class="title">台灣評鑑協會</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=9f133d285325413da100bff151181010" alt="" class="img-responsive">
                    </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://shop03.591red.com/m/home.php">
                    <h6 class="title">冰朕</h6>
                    <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=b90155d5d14e4a83ad768454886b3f7a" alt="" class="img-responsive">
                </a></div>
                <div class="col-sm-4 col-xs-12"><a href="http://hero013.so-buy.com/m/home.php">
                        <h6 class="title">曼盛投資</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=7dc6c69e77be4d049f48854e491caf9f" alt="" class="img-responsive">
                    </a></div>
            </div>
        </div>
    </div>
    <ul class="pagination pagination-sm">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div>
</div>