
    <div class="container-fluid webdesigncase">
<div class="container">
    <span>
        <h3>響應式-成功案例-產業-企業網站</h3>
        <h6>WEB DESIGN CASE</h6>
    </span>
    <div class="row">
        <div class="col-sm-3 col-sm-push-9 col-xs-12">
            <ul>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">產業</button>
                        <div id="demo" class="collapse">
                <ul>
                    <li><a href="">01.企業網站</a></li>
                    <li><a href="">02.線上購物</a></li>
                    <li><a href="">03.美妝衣飾</a></li>
                    <li><a href="">04.食品相關</a></li>
                    <li><a href="">05.工業技術</a></li>
                    <li><a href="">06.醫療保健</a></li>
                    <li><a href="">07.建築裝潢</a></li>
                    <li><a href="">08.旅遊玩樂</a></li>
                    <li><a href="">09.法律金融</a></li>
                    <li><a href="">10.學術藝文</a></li>
                </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">風格</button>
                        <div id="demo2" class="collapse">
                    <ul>
                        <li><a href="">01.科技風</a></li>
                        <li><a href="">02.溫馨風</a></li>
                        <li><a href="">03.夢幻風</a></li>
                        <li><a href="">04.田園風</a></li>
                        <li><a href="">05.時尚風</a></li>
                        <li><a href="">06.復古風</a></li>
                        <li><a href="">07.穩重</a></li>
                        <li><a href="">08.華麗</a></li>
                        <li><a href="">09.簡單大方</a></li>
                        <li><a href="">10.其他</a></li>
                    </ul>
                        </div>            
                </li>
                <li>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">色系</button>
                        <div id="demo3" class="collapse">
                    <ul class="list-inline">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>                        
                    </ul>
                        </div>            
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-pull-3 col-xs-12">
            <div class="row">
                  <div class="col-sm-4 col-xs-12"><a href="http://wanfeng168.com.tw/">
                        <h6 class="title">萬嵐國際</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=eb8993e15a6145628864f8d2edce0ca4" alt="" class="img-responsive">
                    </a></div>              
                    <div class="col-sm-4 col-xs-12"><a href="http://hero059.so-buy.com/m/home.php">
                        <h6 class="title">台灣拒油</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=5e81e6eee12b4121b557195d32025906" alt="" class="img-responsive">
                    </a></div>
                     <div class="col-sm-4 col-xs-12"><a href="http://www.agilesim.com.tw/m/home.php">
                        <h6 class="title">安捷新</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=5fad0da515fe42929cd35dfa1390b14c" alt="" class="img-responsive">
                    </a></div>
                    <div class="col-sm-4 col-xs-12"><a href="http://hero002.so-buy.com/m/home.php">
                    <h6 class="title">史大華</h6>
                    <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=72d23b212aee4250a43f839a528db060" alt="" class="img-responsive">
                    </a></div>
                     <div class="col-sm-4 col-xs-12"><a href="http://hero008.so-buy.com/m/home.php">
                        <h6 class="title">Tortugas Couture</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=c1daa53687f245dcb9b56abf97a0c5e5" alt="" class="img-responsive">
                    </a></div>
                    <div class="col-sm-4 col-xs-12"><a href="http://hero001.so-buy.com/m/home.php">
                        <h6 class="title">若草</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=1b7d6a8e05d342099b6beda8183b44a0" alt="" class="img-responsive">
                    </a></div>
                    <div class="col-sm-4 col-xs-12"><a href="http://shop05.591red.com/m/home.php">
                    <h6 class="title">美禧</h6>
                    <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=5e7a5e0808094596b88bf7f1120c75cb" alt="" class="img-responsive">
                    </a></div>
                     <div class="col-sm-4 col-xs-12"><a href="http://shop06.591red.com/m/home.php">
                        <h6 class="title">汕商</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=d06c1db476b1460c851d837b9d8f2f55" alt="" class="img-responsive">
                    </a></div>
                    <div class="col-sm-4 col-xs-12"><a href="http://shop04.591red.com/m/home.php">
                        <h6 class="title">上海首威</h6>
                        <img src="http://admin.amplealpha.com/N2ISC/image.aspx?id=8448788cf60947f8ad8233db9c64b221" alt="" class="img-responsive">
                    </a></div>
            </div>
        </div>
    </div>
    <ul class="pagination pagination-sm">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div>
</div>